﻿@charset "UTF-8";

@font-face {
    font-family: 'dinot-bold';
    src: url('fonts/dinroundot-bold.eot');
    src: url('fonts/dinroundot-bold.eot?#iefix') format('embedded-opentype'), url('fonts/dinroundot-bold.woff') format('woff'), url('fonts/dinroundot-bold.ttf') format('truetype'), url('fonts/dinroundot-bold.svg#dinot-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinot';
    src: url('fonts/dinroundot.eot');
    src: url('fonts/dinroundot.eot?#iefix') format('embedded-opentype'), url('fonts/dinroundot.woff') format('woff'), url('fonts/dinroundot.ttf') format('truetype'), url('fonts/dinroundot.svg#dinot') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*************************/

html, div, p, a, body {
    font-family: "dinot";
}

body {
    margin: 0;
    padding: 0;
}

strong {
    font-family: "dinot-bold";
}

.clear {
    clear: both;
}
/*************MENU************/
.menu {
    width: 80px;
    position: fixed;
    top: 120px;
    right: 20px;
    z-index: 100000;
}

    .menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .menu ul li {
            width: 80px;
            height: 80px;
            margin-top: -33px;
            z-index: 10;
            position: relative;
        }

            .menu ul li a {
                width: 80px;
                height: 80px;
                display: block;
                text-align: center;
            }

                .menu ul li a img {
                    width: 60px;
                }

            .menu ul li:hover, .menu ul li.selected {
                z-index: 20;
            }

                .menu ul li:hover a img, .menu ul li.selected a img {
                    width: 80px;
                }
/*************PAGE************/
.clouds {
    display: none;
}

.cloud1 {
    width: 1170px;
    height: 259px;
    position: absolute;
    z-index: 2;
    background: url('../Images/cloud-1.png') no-repeat 0px 0px transparent;
}

.cloud2 {
    width: 604px;
    height: 246px;
    position: absolute;
    z-index: 2;
    background: url('../Images/cloud-2.png') no-repeat 0px 0px transparent;
}

.cloud3 {
    width: 1326px;
    height: 501px;
    position: absolute;
    z-index: 2;
    background: url('../Images/cloud-3.png') no-repeat 0px 0px transparent;
}

.page {
    width: 100%;
    height: 100%;
}

#pin-section {
    width: 100%;
    position: absolute;
    z-index: 9999;
}

.content, .clouds, .farm, .zymotic, .taste, .product {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 99;
    top: 0px;
    left: 0px;
    /*overflow: hidden;*/
}

.clouds {
    position: fixed;
}

.farm {
    width: 100%;
    height: 100%;
    position: relative;
}

.img {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#farm-background {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.landing-page {
    position: relative;
}

.h-20 {
    height: 20px;
    clear: both;
}

.h-65 {
    height: 65px;
    clear: both;
}

.h-230 {
    height: 230px;
    clear: both;
}

.h-155 {
    height: 155px;
    clear: both;
}

.h-165 {
    height: 165px;
    clear: both;
}

.big-logo {
    width: 180px;
    height: 220px;
    margin: 0 auto;
    top: 65px;
}
.big-logo img
{
	width:180px;}
.small-logo {
    width: 70px;
    height: 171px;
    top: 20px;
    right: 10px;
    position: fixed;
    z-index: 99;
}
.small-logo img
{
	width:70px;}
.text-landingpage, .text-landingpage-2 {
    width: 100%;
    margin-top: 70px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-family: "dinot-bold";
    color: #003b75;
    opacity: 0;
}

.text-landingpage-2 {
    max-width: 1000px;
    font-size: 20px;
    margin-top: 20px;
}

a.button-viewmore {
    display: block;
    width: 180px;
    height: 90px;
    background: url(../Images/icon-view-more.png) no-repeat bottom center transparent;
    text-align: center;
    margin: 0 auto;
    font-family: "dinot-bold";
    color: #003b75;
    font-size: 15px;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 40px;
    opacity: 0;
}

.text-farmpage, .text-farmpage-2, .text-treatmentpage, .text-treatmentpage-2, .text-zymoticpage, .text-tastepage, .text-productpage, .text-productpage-2 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-family: "dinot-bold";
    color: #003b75;
    font-size: 25px;
    z-index: 10;
    position: relative;
    opacity: 0;
}

.text-farmpage-2, .text-treatmentpage-2 {
    font-size: 20px;
    text-align: center;
    font-family: "dinot";
    color: #003d79;
    margin-top: 20px;
}

.milk-drop {
    width: 170px;
    height: 280px;
    position: absolute;
    opacity: 0;
    z-index: 999;
}
.milk-drop img
{
	width:170px;}
.cycle {
   width: 592px;
    height: 568px;
    position: absolute;
    top: 230px;
}

    .cycle img {
        opacity: 0;
    }

.icon-1,.icon-2,.icon-3,.icon-4,.icon-5,.icon-6,.icon-7,.icon-8,.icon-9,.icon-10 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.icon-1 img,.icon-2 img,.icon-3 img,.icon-4 img,.icon-5 img,.icon-6 img,.icon-7 img,.icon-8 img,.icon-9 img,.icon-10 img
{
	width:90px;}
	
	.icon-1 a,.icon-2 a,.icon-3 a,.icon-4 a,.icon-5 a,.icon-6 a,.icon-7 a,.icon-8 a,.icon-9 a,.icon-10 a
{
	border:none;}
/*.icon-2 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-3 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-4 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-5 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-6 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-7 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-8 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-9 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-10 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}*/

#treatment-milk {
    top: -500px;
}

.box-info-left-small-1, .box-info-left-small-2, .box-info-left-small-3, .box-info-left-small-5 {
    width: 284px;
    height: 329px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}

.box-info-left-small-4 {
    width: 348px;
    height: 329px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}

.box-info-right-small-6, .box-info-right-small-7, .box-info-right-small-8, .box-info-right-small-9, .box-info-right-small-10 {
    width: 284px;
    height: 329px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
}

.number-small {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 15px;
    left: 120px;
}

.number-small-right {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 15px;
    left: 135px;
}

.number-big {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 15px;
    left: 150px;
}

.cow-img {
    width: 84px;
    height: 64px;
    position: absolute;
    top: 55px;
    left: 100px;
}

.food-img {
    width: 224px;
    height: 40px;
    position: absolute;
    top: 70px;
    left: 22px;
}

.farm-img {
    width: 197px;
    height: 50px;
    position: absolute;
    top: 70px;
    left: 35px;
}

.foot-img {
    width: 84px;
    height: 77px;
    position: absolute;
    top: 60px;
    left: 125px;
}

.doctor-img {
    width: 84px;
    height: 77px;
    position: absolute;
    top: 50px;
    left: 95px;
}

.milk-img {
    width: 84px;
    height: 77px;
    position: absolute;
    top: 50px;
    left: 110px;
}

.truck-img {
    width: 71px;
    height: 54px;
    position: absolute;
    top: 55px;
    left: 115px;
}

.fac-img {
    width: 116px;
    height: 57px;
    position: absolute;
    top: 55px;
    left: 95px;
}

.mart-img {
    width: 91px;
    height: 65px;
    position: absolute;
    top: 55px;
    left: 110px;
}

.house-img {
    width: 123px;
    height: 56px;
    position: absolute;
    top: 55px;
    left: 90px;
}

.info-text {
    width: 205px;
    height: 90px;
    display: block;
    color: #333333;
    font-size: 13px;
    font-family: "dinot";
    position: absolute;
    top: 125px;
    left: 33px;
    line-height: 22px;
    text-align: justify;
}

.info-text-right {
    width: 205px;
    height: 90px;
    display: block;
    color: #333333;
    font-size: 13px;
    font-family: "dinot";
    position: absolute;
    top: 125px;
    left: 55px;
    line-height: 22px;
    text-align: justify;
}

.info-text-big {
    width: 265px;
    height: 130px;
    display: block;
    color: #333333;
    font-size: 13px;
    font-family: "dinot";
    position: absolute;
    top: 140px;
    left: 33px;
    line-height: 22px;
    text-align: justify;
}

#zymotic-milk {
    top: -500px;
}

.probiotic-blur {
    width: 153px;
    height: 131px;
    position: absolute;
    z-index: 100;
    top: 340px;
    left: 790px;
    opacity: 0;
}
.probiotic-blur img
{
	width:100px;}

.inulin {
    width: 182px;
    height: 138px;
    position: absolute;
    z-index: 100;
    top: 380px;
    right: 580px;
    opacity: 0;
}
.inulin img
{
	width:150px;}
.inulin-blur {
    width: 99px;
    height: 85px;
    position: absolute;
    z-index: 100;
    top: 280px;
    right: 890px;
    opacity: 0;
}
.inulin-blur img
{
	width:60px;}
.probiotic {
    width: 251px;
    height: 209px;
    position: absolute;
    z-index: 100;
    top: 460px;
    left: 600px;
    opacity: 0;
}
.probiotic img
{
	width:200px;}
.box-info-zymotic {
    width: 284px;
    height: 329px;
    position: absolute;
    left: 320px;
    top: 360px;
    z-index: 10000;
    opacity: 0;
}

.info-text-zymotic {
    width: 205px;
    display: block;
    color: #333333;
    font-size: 20px;
    font-family: "dinot-bold";
    position: absolute;
    top: 65px;
    left: 33px;
    line-height: 35px;
    text-align: justify;
}

#taste-page {
    z-index: 9999;
}

#product-page {
    z-index: 9999;
}

.video-box {
    width: 700px;
    height: 450px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: 0 0 56px 1px rgba(0,0,0,.32); /* drop shadow */
    -webkit-box-shadow: 0 0 56px 1px rgba(0,0,0,.32); /* drop shadow */
    box-shadow: 0 0 56px 1px rgba(0,0,0,.32); /* drop shadow */
    margin: 0 auto;
    padding: 5px;
    z-index: 9999;
}

.box-bottom {
    width: 100%;
    height: 215px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.box-bottom-product-detail {
    width: 100%;
    height: 315px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.menu-sub {
    width: 455px;
    height: 45px;
    position: absolute;
    top: 30px;
    right: 70px;
    z-index: 10000;
}

    .menu-sub ul {
        margin: 0;
        padding: 0;
    }

        .menu-sub ul li {
            list-style: none;
            float: left;
            margin-right: 17px;
        }

            .menu-sub ul li:last-child {
                margin-right: 0;
            }

            .menu-sub ul li a {
                background: url(../Images/menu-sub-nonactive.png) no-repeat 0px 0px transparent;
                display: block;
                text-decoration: none;
                height: 45px;
            }

                .menu-sub ul li a:hover, .menu-sub ul li a.selected {
                    background: url(../Images/menu-sub-active.png) no-repeat 0px 0px transparent;
                    display: block;
                    text-decoration: none;
                    height: 45px;
                    -webkit-transition: 0.3s ease;
                    -moz-transition: 0.3s ease;
                    -ms-transition: 0.3s ease;
                    -o-transition: 0.3s ease;
                    transition: 0.3s ease;
                }

                .menu-sub ul li a.yogurt {
                    width: 115px;
                    background-position: 0px 0px;
                }

                .menu-sub ul li a.milk {
                    width: 125px;
                    background-position: -130px 0px;
                }

                .menu-sub ul li a.yomilk {
                    width: 180px;
                    background-position: -275px 0px;
                }

.arrow-bottom {
    width: 100%;
    height: 40px;
    position: absolute;
    z-index: 10000000;
    bottom: 140px;
    text-align: center;
}

.cycle-arrow-prev {
    width: 40px;
    height: 40px;
    text-decoration: none;
}

.cycle-arrow-next {
    width: 40px;
    height: 40px;
    text-decoration: none;
}
/* PRODUCT PAGE------------------------------------- */
.content-product {
    width: 1500px;
    margin: 0 auto;
    height: 700px;
    position: relative;
}

.content-product-detail {
    width: 1500px;
    margin: 0 auto;
    height: 900px;
    position: relative;
}

.content-exp {
    width: 1500px;
    margin: 0 auto;
    height: 700px;
    position: relative;
}

.disabled {
    cursor: default;
}

#suachua {
    width: 990px;
    margin: auto;
}

.yogurt-1 {
    width: 400px;
    position: absolute;
    bottom: 145px;
    left: 260px;
    z-index: 100000;
}
.yogurt-2 {
    width: 346px;
    height: 331px;
    position: absolute;
    bottom: 70px;
    left: 160px;
    z-index: 10000;
}

.yogurt-3 {
    width: 346px;
    height: 331px;
    position: absolute;
    bottom: 70px;
    left: 480px;
    z-index: 10000;
}

.yogurt-4 {
    width: 263px;
    height: 253px;
    position: absolute;
    bottom: 110px;
    left: 635px;
    z-index: 1000;
}

.yogurt-5 {
    width: 263px;
    height: 253px;
    position: absolute;
    bottom: 110px;
    left: 115px;
    z-index: 1000;
}

.yogurt-1 img {
    width: 90%;
}

.yogurt-2 img, .yogurt-3 img {
    width: 70%;
}

.yogurt-4 img, .yogurt-5 img {
    width: 50%;
}

#suachuauong {
    width: 400px;
    margin: auto;
}

.milk-1 {
    width: 304px;
    height: 580px;
    position: absolute;
    z-index: 100000;
    bottom: 80px;
    left: 0px;
}

.milk-2 {
    width: 210px;
    height: 396px;
    position: absolute;
    z-index: 10000;
    bottom: 180px;
    left: 320px;
}

.milk-3 {
    width: 150px;
    height: 297px;
    position: absolute;
    z-index: 1000;
    bottom: 200px;
    left: 250px;
}

.milk-1 img {
    width: 70%;
}

.milk-2 img {
    width: 60%;
}

.milk-3 img {
    width: 50%;
}

#suachuauongmensong {
    width: 700px;
    margin: auto;
}

.yomilk-1 {
    width: 236px;
    height: 569px;
    position: absolute;
    z-index: 100000;
    bottom: 10px;
    left: 140px;
}

    .yomilk-1 img {
        width: 80%;
    }

.yomilk-2 img {
    width: 70%;
}

.yomilk-3 img {
    width: 60%;
}

.yomilk-4 img {
    width: 55%;
}

.yomilk-2 {
    width: 180px;
    height: 450px;
    position: absolute;
    z-index: 10000;
    bottom: 40px;
    left: 385px;
}

.yomilk-3 {
    width: 130px;
    height: 350px;
    position: absolute;
    z-index: 1000;
    bottom: 70px;
    left: 570px;
}

.yomilk-4 {
    width: 140px;
    height: 380px;
    position: absolute;
    z-index: 100;
    bottom: 70px;
    left: 0px;
}

a.button-back {
    width: 184px;
    height: 59px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: block;
    z-index: 1000000;
}

#product-1, #product-2, #product-3, #product-4, #product-5 {
    width: 1294px;
    margin: auto;
}

#product-6, #product-7, #product-8 {
    width: 1130px;
    margin: auto;
}

#product-9, #product-10, #product-11, #product-12 {
    width: 1130px;
    margin: auto;
}

.product-detail-img {
    width: 315px;
    height: 415px;
    position: absolute;
    top: 260px;
    left: 0px;
    z-index: 100000;
}
.product-detail-img img
{
	width:80%;}
.product-detail-milk-img {
    width: 312px;
    height: 800px;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 100000;
}

.product-detail-yomilk-img {
    width: 312px;
    height: 800px;
    position: absolute;
    top: 115px;
    left: 0px;
    z-index: 100000;
}

.title-ribbon {
    height: 45px;
    min-width: 350px;
    padding-right: 20px;
    background-color: #fff; /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDMxNCA0OCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEwMCUiIHkxPSI1MCUiIHgyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiIHkyPSI1MCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNzNhOWQ5IiBzdG9wLW9wYWNpdHk9IjAuOTciLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAzYjc1IiBzdG9wLW9wYWNpdHk9IjAuOTciLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAzYjc1IiBzdG9wLW9wYWNpdHk9IjAuOTciLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIzMTQiIGhlaWdodD0iNDgiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
    background-image: -moz-linear-gradient(right, rgba(115,169,218,.97) 0%, rgba(0,59,117,.97) 100%, rgba(0,59,117,.97) 100%); /* gradient overlay */
    background-image: -o-linear-gradient(right, rgba(115,169,218,.97) 0%, rgba(0,59,117,.97) 100%, rgba(0,59,117,.97) 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(right, rgba(115,169,218,.97) 0%, rgba(0,59,117,.97) 100%, rgba(0,59,117,.97) 100%); /* gradient overlay */
    background-image: linear-gradient(right, rgba(115,169,218,.97) 0%, rgba(0,59,117,.97) 100%, rgba(0,59,117,.97) 100%); /* gradient overlay */
    color: #fff;
    font-size: 24px;
    font-family: "dinot-bold";
    z-index: 200000;
    padding-left: 20px;
    padding-top: 10px;
    position: absolute;
    top: 180px;
}

.box-info {
    width: 774px;
    opacity: 0.5; /* layer alpha */
    background-color: #93bddd; /* layer fill content + color overlay */
    position: absolute;
    top: 210px;
    z-index: 10000;
}

.ribbon-title {
    width: 14px;
    height: 12px;
    position: absolute;
    top: 235px;
    right: 874px;
}

.ribbon-info {
    width: 39px;
    height: 85px;
    position: absolute;
    top: 385px;
    z-index: 20000;
}

    .ribbon-info img {
        opacity: 0.5;
    }

#product-9 .title-ribbon, #product-10 .title-ribbon, #product-11 .title-ribbon, #product-12 .title-ribbon {
    left: 336px;
}

#product-9 .box-info, #product-10 .box-info, #product-11 .box-info, #product-12 .box-info {
    left: 350px;
}

#product-9 .ribbon-title, #product-10 .ribbon-title, #product-11 .ribbon-title, #product-12 .ribbon-title {
    left: 336px;
}

#product-9 .ribbon-info, #product-10 .ribbon-info, #product-11 .ribbon-info, #product-12 .ribbon-info {
    left: 311px;
}

#product-6 .title-ribbon, #product-7 .title-ribbon, #product-8 .title-ribbon {
    left: 336px;
}

#product-6 .box-info, #product-7 .box-info, #product-8 .box-info {
    left: 350px;
}

#product-6 .ribbon-title, #product-7 .ribbon-title, #product-8 .ribbon-title {
    left: 336px;
}

#product-6 .ribbon-info, #product-7 .ribbon-info, #product-8 .ribbon-info {
    left: 311px;
}

#product-1 .title-ribbon, #product-2 .title-ribbon, #product-3 .title-ribbon, #product-4 .title-ribbon, #product-5 .title-ribbon {
    left: 516px;
}

#product-1 .box-info, #product-2 .box-info, #product-3 .box-info, #product-4 .box-info, #product-5 .box-info {
    left: 230px;
}

#product-1 .ribbon-title, #product-2 .ribbon-title, #product-3 .ribbon-title, #product-4 .ribbon-title, #product-5 .ribbon-title {
    left: 516px;
}

#product-1 .ribbon-info, #product-2 .ribbon-info, #product-3 .ribbon-info, #product-4 .ribbon-info, #product-5 .ribbon-info {
    left: 491px;
}


.text-row-left {
    width: 410px;
    margin-left: 35px;
    margin-top: 50px;
    font-size: 12px;
    color: #000;
    font-family: "dinot-bold";
    line-height: 25px;
    z-index: 1000000;
    position: relative;
    float: left;
}

.text-row-right {
    width: 240px;
    margin-top: 50px;
    font-size: 12px;
    color: #000;
    font-family: "dinot-bold";
    line-height: 25px;
    z-index: 1000000;
    position: relative;
    float: right;
}

.price {
    margin-left: 35px;
    font-family: "dinot-bold";
    color: #003b75;
    font-size: 24px;
    float: left;
}

.all-product {
    width: 792px;
    margin: 0 auto;
    z-index: 200000;
    position: relative;
}

.promo-text {
    color: #b0e6ff;
    font-size: 36px;
    font-family: "dinot-bold";
    width: 600px;
    text-align: left;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}

.promo-ribbon {
    width: 350px;
    height: 350px;
    position: relative;
    float: left;
    z-index: 10000;
}

.text-promotion {
    font-size: 32px;
    font-family: "dinot-bold";
    color: #fff;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 110px;
    left: 75px;
    text-align: center;
    z-index: 5000000;
    line-height: 50px;
    float: left;
}

    .text-promotion span {
        font-size: 18px;
        line-height: 25px;
    }
