﻿@charset "UTF-8";

@font-face {
    font-family: 'dinot-bold';
    src: url('fonts/dinroundot-bold.eot');
    src: url('fonts/dinroundot-bold.eot?#iefix') format('embedded-opentype'), url('fonts/dinroundot-bold.woff') format('woff'), url('fonts/dinroundot-bold.ttf') format('truetype'), url('fonts/dinroundot-bold.svg#dinot-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinot';
    src: url('fonts/dinroundot.eot');
    src: url('fonts/dinroundot.eot?#iefix') format('embedded-opentype'), url('fonts/dinroundot.woff') format('woff'), url('fonts/dinroundot.ttf') format('truetype'), url('fonts/dinroundot.svg#dinot') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*************************/

html, div, p, a, body {
    font-family: "dinot", Arial;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    padding: 0;
}

strong {
    font-family: "dinot-bold", Arial;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.clear {
    clear: both;
}

a img {
    border: none;
}
/*************MENU************/
.menu {
    width: 120px;
    position: fixed;
    top: 350px;
    right: 20px;
    z-index: 100000;
}

    .menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .menu ul li {
            width: 121px;
            height: 121px;
            margin-top: -30px;
            z-index: 10;
            position: relative;
        }

            .menu ul li a {
                width: 120px;
                height: 120px;
                display: block;
                text-align: center;
            }

                .menu ul li a img {
                    width: 95px;
                }

            .menu ul li:hover, .menu ul li.selected {
                z-index: 20;
            }

                .menu ul li:hover a img, .menu ul li.selected a img {
                    width: 120px;
                }

/*************PAGE************/
.clouds {
    display: none;
}

.cloud1 {
    width: 1170px;
    height: 259px;
    position: absolute;
    z-index: 2;
    background: url('../Images/cloud-3.png') no-repeat 0px 0px transparent;
}

.cloud2 {
    width: 604px;
    height: 246px;
    position: absolute;
    z-index: 2;
    background: url('../Images/cloud-2.png') no-repeat 0px 0px transparent;
}

.cloud3 {
    width: 1326px;
    height: 501px;
    position: absolute;
    z-index: 2;
    background: url('../Images/cloud-3.png') no-repeat 0px 0px transparent;
}

.page {
    width: 100%;
    height: 100%;
}

#pin-section {
    width: 100%;
    position: absolute;
}

.content, .clouds, .farm, .zymotic, .taste, .product {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 99;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.clouds {
    position: fixed;
}

.farm {
    width: 100%;
    height: 100%;
    position: relative;
}

.img {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#farm-background {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.landing-page {
    position: relative;
}

.h-20 {
    height: 20px;
    clear: both;
}

.h-65 {
    height: 65px;
    clear: both;
}

.h-230 {
    height: 230px;
    clear: both;
}

.h-155 {
    height: 155px;
    clear: both;
}

.h-165 {
    height: 165px;
    clear: both;
}

.big-logo {
    width: 200px;
    height: 229px;
    margin: 0 auto;
    background: url('../Images/logo-th.png') no-repeat 0px 0px transparent;
    top: 65px;
}

.small-logo {
    width: 150px;
    height: 171px;
    background: url('../Images/small-logo.png') no-repeat 0px 0px transparent;
    top: 20px;
    right: 10px;
    position: fixed;
    z-index: 9999999;
}

.text-landingpage, .text-landingpage-2 {
    width: 100%;
    margin-top: 70px;
    margin: 0 auto;
    text-align: center;
    font-size: 55px;
    font-family: "dinot-bold", Arial;
    font-weight: bold;
    color: #003b75;
    opacity: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.text-landingpage-2 {
    max-width: 1000px;
    font-size: 38px;
    margin-top: 20px;
}

a.button-viewmore {
    display: block;
    min-width: 60px;
    height: 40px;
    /*background: url(../Images/icon-view-more.png) no-repeat bottom center transparent;*/
    text-align: center;
    margin: 0 auto;
    font-family: "dinot-bold", Arial;
    font-weight: bold;
    color: #003b75;
    font-size: 20px;
    text-decoration: none;
    bottom: 40px;
    opacity: 0;
    position: absolute;
    z-index: 9900000;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#landing-page a.button-viewmore {
    height: 90px;
}

a.button-backtop {
    /*background: url(../Images/icon-back-to-top.png) no-repeat bottom center transparent;*/
}

.text-farmpage, .text-farmpage-2, .text-treatmentpage, .text-treatmentpage-2, .text-zymoticpage, .text-tastepage, .text-productpage, .text-productpage-2 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    font-size: 38px;
    font-family: "dinot-bold", Arial;
    font-weight: bold;
    color: #003b75;
    z-index: 10;
    position: relative;
    opacity: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#video-popup {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000000;
    display: none;
}

    #video-popup div {
        width: 640px;
        margin: 200px auto;
    }

    #video-popup .close {
        width: 34px;
        height: 34px;
        background: url(../Images/icon-close.png) no-repeat 0px 0px transparent;
        display: block;
        position: relative;
        float: right;
        top: 15px;
        right: -15px;
    }

.vjs-control-bar {
    display: none;
}

.text-farmpage-2 a {
    color: #003b75;
    text-decoration: none;
    font-weight: bold;
    font-family: "dinot-bold", Arial;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

    .text-farmpage-2 a:hover {
        color: rgb(0, 176, 255);
        transition: color 0.5s ease;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
    }

.text-farmpage-2, .text-treatmentpage-2 {
    font-size: 36px;
    text-align: right;
    font-family: "dinot-bold", Arial;
    color: #003d79;
    margin-top: 20px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.milk-drop {
    width: 240px;
    height: 367px;
    position: absolute;
    opacity: 0;
    z-index: 999;
}

.cycle {
    width: 592px;
    height: 568px;
    position: absolute;
    top: 230px;
}

    .cycle img {
        display: none;
    }

    .cycle div {
        display: none;
    }

.icon-1 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-2 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-3 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-4 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-5 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-6 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-7 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-8 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-9 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon-10 {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#treatment-milk {
    top: -500px;
}

#treatment-page {
    z-index: 99999;
}

.box-info-left-small-1, .box-info-left-small-2, .box-info-left-small-3, .box-info-left-small-5 {
    width: 284px;
    height: 329px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    z-index: 999999;
}

.box-info-left-small-4 {
    width: 304px;
    height: 307px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    z-index: 999999;
}

.box-info-right-small-6, .box-info-right-small-7, .box-info-right-small-8, .box-info-right-small-9, .box-info-right-small-10 {
    width: 284px;
    height: 329px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
    z-index: 999999;
}

.number-small {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 15px;
    left: 120px;
}

.number-small-right {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 15px;
    left: 135px;
}

.number-big {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 15px;
    left: 140px;
}

.cow-img {
    width: 84px;
    height: 64px;
    position: absolute;
    top: 55px;
    left: 100px;
}

.food-img {
    width: 224px;
    height: 40px;
    position: absolute;
    top: 70px;
    left: 22px;
}

.farm-img {
    width: 197px;
    height: 50px;
    position: absolute;
    top: 70px;
    left: 35px;
}

.foot-img {
    width: 84px;
    height: 77px;
    position: absolute;
    top: 60px;
    left: 115px;
}

.doctor-img {
    width: 84px;
    height: 77px;
    position: absolute;
    top: 50px;
    left: 95px;
}

.milk-img {
    width: 84px;
    height: 77px;
    position: absolute;
    top: 50px;
    left: 90px;
}

.truck-img {
    width: 71px;
    height: 54px;
    position: absolute;
    top: 55px;
    left: 115px;
}

.fac-img {
    width: 116px;
    height: 57px;
    position: absolute;
    top: 55px;
    left: 95px;
}

.mart-img {
    width: 91px;
    height: 65px;
    position: absolute;
    top: 55px;
    left: 110px;
}

.house-img {
    width: 123px;
    height: 56px;
    position: absolute;
    top: 55px;
    left: 90px;
}

.info-text {
    width: 205px;
    height: 90px;
    display: block;
    color: #333333;
    font-size: 14px;
    font-family: "dinot", Arial;
    position: absolute;
    top: 125px;
    left: 33px;
    line-height: 22px;
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.info-text-right {
    width: 205px;
    height: 90px;
    display: block;
    color: #333333;
    font-size: 14px;
    font-family: "dinot", Arial;
    position: absolute;
    top: 125px;
    left: 55px;
    line-height: 22px;
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.info-text-big {
    width: 245px;
    height: 130px;
    display: block;
    color: #333333;
    font-size: 14px;
    font-family: "dinot", Arial;
    position: absolute;
    top: 140px;
    left: 38px;
    line-height: 22px;
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#zymotic-milk {
    top: -500px;
}

.probiotic-blur {
    width: 153px;
    height: 131px;
    position: absolute;
    z-index: 100;
    top: 340px;
    left: 760px;
    opacity: 0;
}

.inulin {
    width: 182px;
    height: 138px;
    position: absolute;
    z-index: 100;
    top: 380px;
    right: 580px;
    opacity: 0;
}

.inulin-blur {
    width: 99px;
    height: 85px;
    position: absolute;
    z-index: 100;
    top: 280px;
    right: 790px;
    opacity: 0;
}

.probiotic {
    width: 251px;
    height: 209px;
    position: absolute;
    z-index: 100;
    top: 460px;
    left: 560px;
    opacity: 0;
}

.box-info-zymotic {
    width: 284px;
    height: 329px;
    position: absolute;
    left: 320px;
    top: 360px;
    z-index: 10000;
    opacity: 0;
}

.info-text-zymotic {
    width: 210px;
    display: block;
    color: #333333;
    font-size: 13px;
    font-family: "dinot", Arial;
    position: absolute;
    top: 50px;
    left: 33px;
    line-height: 22px;
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#taste-page {
    z-index: 9999;
}

#product-page {
    z-index: 9999;
}

.video-box {
    width: 670px;
    height: 370px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* border radius */
    behavior: url('PIE.htc');
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: 0 0 56px 1px rgba(0,0,0,.32); /* drop shadow */
    -webkit-box-shadow: 0 0 56px 1px rgba(0,0,0,.32); /* drop shadow */
    box-shadow: 0 0 56px 1px rgba(0,0,0,.32); /* drop shadow */
    margin: 0 auto;
    padding: 0px;
    z-index: 9999;
    overflow: hidden;
    position: relative;
}

    .video-box video {
        margin-top: -85px;
    }

.box-bottom {
    width: 100%;
    height: 315px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.box-bottom-product-detail {
    width: 100%;
    height: 315px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.menu-sub {
    width: 455px;
    height: 45px;
    position: absolute;
    top: 50px;
    right: 170px;
    z-index: 10000;
}

    .menu-sub ul {
        margin: 0;
        padding: 0;
    }

        .menu-sub ul li {
            list-style: none;
            float: left;
            margin-right: 17px;
        }

            .menu-sub ul li:last-child {
                margin-right: 0;
            }

            .menu-sub ul li a {
                background: url(../Images/menu-sub-nonactive.png) no-repeat 0px 0px transparent;
                display: block;
                text-decoration: none;
                height: 45px;
            }

                .menu-sub ul li a:hover, .menu-sub ul li a.selected {
                    background: url(../Images/menu-sub-active.png) no-repeat 0px 0px transparent;
                    display: block;
                    text-decoration: none;
                    height: 45px;
                    -webkit-transition: 0.3s ease;
                    -moz-transition: 0.3s ease;
                    -ms-transition: 0.3s ease;
                    -o-transition: 0.3s ease;
                    transition: 0.3s ease;
                }

                .menu-sub ul li a.yogurt {
                    width: 115px;
                    background-position: 0px 0px;
                }

                .menu-sub ul li a.milk {
                    width: 125px;
                    background-position: -130px 0px;
                }

                .menu-sub ul li a.yomilk {
                    width: 180px;
                    background-position: -275px 0px;
                }

.arrow-bottom {
    width: 100%;
    height: 40px;
    position: absolute;
    z-index: 10000000;
    top: 250px;
    text-align: center;
}

.cycle-arrow-prev {
    width: 32px;
    height: 32px;
    text-decoration: none;
    float: left;
}

.cycle-arrow-next {
    width: 32px;
    height: 32px;
    text-decoration: none;
    float: right;
}
/* PRODUCT PAGE------------------------------------- */
.content-product {
    width: 1500px;
    margin: 0 auto;
    height: 700px;
    position: relative;
}

#suachuauong {
    height: 650px;
}

.content-product-detail {
    width: 1500px;
    margin: 0 auto;
    height: 900px;
    position: relative;
}

.content-exp {
    width: 1500px;
    margin: 0 auto;
    height: 700px;
    position: relative;
}

.disabled {
    cursor: default;
}

#suachua {
    width: 1100px;
    height: 611px;
    margin: auto;
    position: relative;
}

    #suachua div {
        position: absolute;
    }

    #suachua a {
        display: block;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    #suachua #yogurt1 {
        top: 48px;
        left: 252px;
        width: 284px;
        height: 204px;
    }

    #suachua #yogurt2 {
        top: 44px;
        left: 559px;
        width: 292px;
        height: 210px;
    }

    #suachua #yogurt3 {
        top: 257px;
        left: 393px;
        width: 314px;
        height: 312px;
    }

    #suachua #yogurt4 {
        top: 257px;
        left: 723px;
        width: 351px;
        height: 312px;
    }

    #suachua #yogurt5 {
        top: 259px;
        left: 32px;
        width: 341px;
        height: 308px;
    }

.yogurt-1 {
    width: 300px;
    position: absolute;
    bottom: 100px;
    left: 345px;
    z-index: 100000;
}

.yogurt-2 {
    width: 230px;
    position: absolute;
    bottom: 135px;
    left: 195px;
    z-index: 10000;
}

.yogurt-3 {
    width: 230px;
    position: absolute;
    bottom: 135px;
    left: 565px;
    z-index: 10000;
}

.yogurt-4 {
    width: 190px;
    position: absolute;
    bottom: 160px;
    left: 730px;
    z-index: 1000;
}

.yogurt-5 {
    width: 190px;
    position: absolute;
    bottom: 160px;
    left: 70px;
    z-index: 1000;
}

.yogurt-1 img {
    width: 100%;
}

.yogurt-2 img, .yogurt-3 img {
    width: 100%;
}

.yogurt-4 img, .yogurt-5 img {
    width: 100%;
}

#suachuauong {
    width: 400px;
    margin: auto;
}

.milk-1 {
    width: 180px;
    position: absolute;
    z-index: 100000;
    bottom: 80px;
    left: 0px;
}

.milk-2 {
    width: 130px;
    position: absolute;
    z-index: 10000;
    bottom: 155px;
    left: 260px;
}

.milk-3 {
    width: 100px;
    position: absolute;
    z-index: 1000;
    bottom: 190px;
    left: 180px;
}

.milk-1 img {
    width: 100%;
}

.milk-2 img {
    width: 100%;
}

.milk-3 img {
    width: 100%;
}

#suachuauongmensong {
    width: 700px;
    margin: auto;
}

.yomilk-1 {
    width: 236px;
    position: absolute;
    z-index: 100000;
    bottom: 0px;
    left: 140px;
}

    .yomilk-1 img {
        width: 100%;
    }

.yomilk-2 img {
    width: 100%;
}

.yomilk-3 img {
    width: 100%;
}

.yomilk-4 img {
    width: 100%;
}

.yomilk-2 {
    width: 180px;
    position: absolute;
    z-index: 10000;
    bottom: 40px;
    left: 385px;
}

.yomilk-3 {
    width: 130px;
    position: absolute;
    z-index: 1000;
    bottom: 70px;
    left: 570px;
}

.yomilk-4 {
    width: 140px;
    position: absolute;
    z-index: 100;
    bottom: 70px;
    left: 0px;
}

a.button-back {
    width: 95px;
    height: 28px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: block;
    z-index: 1000000;
}

#product-1, #product-2, #product-3, #product-4, #product-5 {
    width: 1100px;
    margin: auto;
}

#product-6, #product-7, #product-8 {
    width: 1100px;
    margin: auto;
}

#product-9, #product-10, #product-11, #product-12 {
    width: 1100px;
    margin: auto;
}

.product-detail-img {
    top: 120px;
    left: 0px;
    position: relative;
    z-index: 100000;
    text-align: left;
    float: left;
}

.product-detail-milk-img {
    width: 260px;
    height: 300px;
    position: relative;
    z-index: 100000;
    text-align: right;
    float: left;
}

.product-detail-yomilk-img {
    width: 260px;
    position: relative;
    z-index: 100000;
    text-align: right;
    float: left;
    height: 300px;
}

.title-ribbon {
    height: 45px;
    min-width: 350px;
    padding-right: 20px;
    background-color: #003b75; /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDMxNCA0OCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEwMCUiIHkxPSI1MCUiIHgyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiIHkyPSI1MCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNzNhOWQ5IiBzdG9wLW9wYWNpdHk9IjAuOTciLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAzYjc1IiBzdG9wLW9wYWNpdHk9IjAuOTciLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAzYjc1IiBzdG9wLW9wYWNpdHk9IjAuOTciLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIzMTQiIGhlaWdodD0iNDgiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
    background-image: -moz-linear-gradient(right, rgba(115,169,218,.97) 0%, rgba(0,59,117,.97) 100%, rgba(0,59,117,.97) 100%); /* gradient overlay */
    background-image: -o-linear-gradient(right, rgba(115,169,218,.97) 0%, rgba(0,59,117,.97) 100%, rgba(0,59,117,.97) 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(right, rgba(115,169,218,.97) 0%, rgba(0,59,117,.97) 100%, rgba(0,59,117,.97) 100%); /* gradient overlay */
    background-image: linear-gradient(right, rgba(115,169,218,.97) 0%, rgba(0,59,117,.97) 100%, rgba(0,59,117,.97) 100%); /* gradient overlay */
    color: #fff;
    font-size: 24px;
    font-family: "dinot-bold", Arial;
    font-weight: bold;
    z-index: 200000;
    padding-left: 20px;
    padding-top: 10px;
    top: 100px;
    margin-left: -14px;
}

.box-info {
    width: 700px;
    opacity: 0.5; /* layer alpha */
    background-color: #93bddd; /* layer fill content + color overlay */
    top: 130px;
    z-index: 10000;
}

.product-detail-info {
    width: 700px;
    height: 430px;
    margin-top: 70px;
    margin-left: 350px;
    position: relative;
}

.ribbon-title {
    width: 14px;
    height: 12px;
    float: left;
    margin-top: 55px;
    margin-left: -14px;
}

.ribbon-info {
    width: 39px;
    height: 85px;
    float: left;
    top: 305px;
    z-index: 20000;
    margin-top: 210px;
    margin-left: -39px;
}

    .ribbon-info img {
        opacity: 0.5;
    }

#product-9 .title-ribbon, #product-10 .title-ribbon, #product-11 .title-ribbon, #product-12 .title-ribbon {
    left: 336px;
}

#product-9 .box-info, #product-10 .box-info, #product-11 .box-info, #product-12 .box-info {
    left: 350px;
}

#product-9 .ribbon-title, #product-10 .ribbon-title, #product-11 .ribbon-title, #product-12 .ribbon-title {
    left: 336px;
}

#product-9 .ribbon-info, #product-10 .ribbon-info, #product-11 .ribbon-info, #product-12 .ribbon-info {
    left: 311px;
}

#product-6 .title-ribbon, #product-7 .title-ribbon, #product-8 .title-ribbon {
    left: 336px;
}

#product-6 .box-info, #product-7 .box-info, #product-8 .box-info {
    left: 350px;
}

#product-6 .ribbon-title, #product-7 .ribbon-title, #product-8 .ribbon-title {
    left: 336px;
}

#product-6 .ribbon-info, #product-7 .ribbon-info, #product-8 .ribbon-info {
    left: 311px;
}

#product-1 .title-ribbon, #product-2 .title-ribbon, #product-3 .title-ribbon, #product-4 .title-ribbon, #product-5 .title-ribbon {
    left: 516px;
}

#product-1 .box-info, #product-2 .box-info, #product-3 .box-info, #product-4 .box-info, #product-5 .box-info {
    left: 530px;
}

#product-1 .ribbon-title, #product-2 .ribbon-title, #product-3 .ribbon-title, #product-4 .ribbon-title, #product-5 .ribbon-title {
    left: 516px;
}

#product-1 .ribbon-info, #product-2 .ribbon-info, #product-3 .ribbon-info, #product-4 .ribbon-info, #product-5 .ribbon-info {
    left: 491px;
}

.guide-text {
    width: 100%;
    max-width: 850px;
    text-align: center;
    font-family: "dinot-bold", Arial;
    font-size: 20px;
    color: #fff;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

    .guide-text img {
        width: 200px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
    }

    .guide-text span {
        width: 150px;
        position: absolute;
        z-index: 99;
        left: 22px;
        top: 55px;
        font-size: 18px;
    }

.text-row-left {
    width: 380px;
    margin-left: 35px;
    margin-top: 20px;
    font-size: 14px;
    color: #000;
    font-family: "dinot-bold", Arial;
    font-weight: bold;
    line-height: 25px;
    z-index: 1000000;
    position: relative;
    float: left;
}

.text-row-right {
    width: 265px;
    margin-top: 20px;
    font-size: 14px;
    color: #000;
    font-family: "dinot-bold", Arial;
    font-weight: bold;
    line-height: 25px;
    z-index: 1000000;
    position: relative;
    float: right;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.price {
    margin-left: 35px;
    font-family: "dinot-bold", Arial;
    font-weight: bold;
    color: #003b75;
    font-size: 24px;
    float: left;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.all-product {
    width: 500px;
    margin: 0 auto;
    z-index: 200000;
    position: relative;
}

.promo-text {
    color: #fff;
    font-size: 28px;
    font-family: "dinot-bold", Arial;
    font-weight: bold;
    width: 850px;
    text-align: left;
    margin-top: 50px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.promo-ribbon {
    width: 350px;
    height: 350px;
    position: relative;
    float: left;
    z-index: 10000;
}

.text-promotion {
    font-size: 32px;
    font-family: "dinot-bold", Arial;
    font-weight: bold;
    color: #fff;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 110px;
    left: 75px;
    text-align: center;
    z-index: 5000000;
    line-height: 50px;
    float: left;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

    .text-promotion span {
        font-size: 18px;
        line-height: 25px;
    }

.store-page {
    width: 800px;
    margin: auto;
    position: relative;
    display: none;
}

    .store-page h1 {
        height: 55px;
        background: url('../Images/bg_store_title.png') no-repeat 0px 0px transparent;
        color: #fff;
        font-family: "dinot-bold";
        font-size: 30px;
        font-weight: bold;
        padding-left: 30px;
        line-height: 40px;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    .store-page h2 {
        color: #063175;
        font-family: "dinot-bold";
        font-size: 26px;
        font-weight: bold;
        text-align: justify;
        padding: 0px 10px;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    .store-page p {
        color: #063175; /* text color */
        font-family: "dinot";
        font-size: 18px;
        float: left;
        padding: 0px 10px;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

        .store-page p strong {
            font-family: "dinot-bold";
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }

    .store-page img {
        float: right;
        margin-right: 10px;
    }

    .store-page .info-content {
        width: 700px;
        margin: auto;
        color: #063175;
        font-family: "dinot";
        font-size: 18px;
        padding-bottom: 40px;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    .store-page .content a, .store-page .content strong {
        color: #063175;
        font-family: "dinot-bold";
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    .store-page .box {
        width: 800px;
        height: 480px;
        margin: 20px auto 10px auto;
        background: #fff;
    }

        .store-page .box #map-canvas {
            width: 440px;
            height: 100%;
            float: left;
        }

        .store-page .box .right-panel {
            width: 360px;
            height: 100%;
            background-color: rgba(0, 33, 91, 0.8);
            float: right;
            color: #fff;
            font-family: "dinot";
            font-size: 15px;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }

            .store-page .box .right-panel div {
                height: 460px;
                float: left;
                margin: 10px 0px;
                overflow: auto;
            }

                .store-page .box .right-panel div:first-child {
                    width: 100px;
                    border-right: solid 2px #fff;
                }

                    .store-page .box .right-panel div:first-child a {
                        display: block;
                        text-transform: uppercase;
                        padding: 5px 10px;
                        text-decoration: none;
                        color: #fff;
                    }

                        .store-page .box .right-panel div:first-child a:hover {
                            background: #fff;
                            color: #063175;
                        }

                .store-page .box .right-panel div:last-child {
                    width: 225px;
                    margin-left: 10px;
                    padding-right: 10px;
                }

                    .store-page .box .right-panel div:last-child ul {
                        list-style: none;
                        margin: 0px;
                        padding: 0px;
                        display: none;
                    }

                    .store-page .box .right-panel div:last-child a {
                        display: block;
                        padding: 5px 10px;
                        text-decoration: none;
                        color: #fff;
                    }

                        .store-page .box .right-panel div:last-child a:hover {
                            background: #fff;
                            color: #063175;
                        }

    .store-page .close {
        width: 34px;
        height: 34px;
        background: url(../Images/icon-close.png) no-repeat 0px 0px transparent;
        display: block;
        position: absolute;
        float: right;
        top: -15px;
        right: -15px;
    }

.registration-page {
    width: 710px;
    margin: auto;
    position: relative;
}

    .registration-page h1 {
        height: 59px;
        background: url('../Images/bg_product_title.png') no-repeat 0px 0px transparent;
        line-height: 40px;
        padding-left: 20px;
        padding-right: 20px;
        color: #fff; /* text color */
        font-family: "dinot";
        font-size: 26px;
        text-transform: capitalize;
        display: block;
        float: left;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    .registration-page .box {
        width: 650px;
        margin: 100px auto;
        background-color: #f3f3f3;
        -moz-box-shadow: 3px 4px 5px rgba(35,31,32,.53);
        -webkit-box-shadow: 3px 4px 5px rgba(35,31,32,.53);
        box-shadow: 3px 4px 5px rgba(35,31,32,.53);
        padding: 20px 30px;
    }

        .registration-page .box h2 {
            color: #003377;
            font-family: "dinot";
            font-size: 16px;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }

        .registration-page .box a {
            color: rgb(0, 176, 255);
            text-decoration: none;
        }

            .registration-page .box a:hover {
                color: rgb(0, 59, 117);
                text-decoration: underline;
                transition: color 0.5s ease;
                -webkit-transition: color 0.5s ease;
                -moz-transition: color 0.5s ease;
                -o-transition: color 0.5s ease;
            }

    .registration-page .row {
        clear: both;
        padding-bottom: 20px;
        font-family: "dinot";
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

        .registration-page .row label {
            width: 230px;
            float: left;
            color: #063175;
            line-height: 30px;
        }

        .registration-page .row input[type=text] {
            width: 380px;
            height: 30px;
            border: none;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            behavior: url('PIE.htc');
            position: relative;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #1171b1;
            color: #fff;
            padding: 0px 10px;
            font-family: "dinot";
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }

        .registration-page .row textarea {
            width: 380px;
            height: 150px;
            border: none;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            behavior: url('PIE.htc');
            position: relative;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #1171b1;
            color: #fff;
            padding: 0px 10px;
            font-family: "dinot";
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }

        .registration-page .row button {
            width: 97px;
            height: 45px;
            -moz-border-radius: 3px / 5px;
            -webkit-border-radius: 3px / 5px;
            border-radius: 3px / 5px;
            behavior: url('PIE.htc');
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #1171b1;
            color: #f2f2f2;
            font-family: "dinot-bold";
            font-size: 18px;
            border: none;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }

        .registration-page .row .field-validation-error {
            padding-left: 230px;
            color: #f00;
        }

    .registration-page .image {
        width: 300px;
        height: 251px;
        background: url('../Images/all-product-small.png') no-repeat 0px 0px transparent;
        position: absolute;
        bottom: -100px;
        right: -160px;
    }

    .registration-page .box div a {
        width: 355px;
        height: 50px;
        line-height: 50px;
        float: left;
        background: #5fb3d8;
        color: #fff;
    }

        .registration-page .box div a:first-child {
            width: 354px;
            border-right: solid 1px #fff;
        }

        .registration-page .box div a:hover {
            background: #8dcdee;
            color: #000;
        }

.facebookShare {
    line-height: 30px;
    display: block;
    float: right;
    margin-right: 40px;
}

    .facebookShare img {
        width: 32px;
        float: left;
        margin-right: 10px;
    }

@media (max-width: 1500px) {
    .h-20 {
        height: 20px;
        clear: both;
    }

    .h-65 {
        height: 65px;
        clear: both;
    }

    .h-230 {
        height: 120px;
        clear: both;
    }

    .h-155 {
        height: 155px;
        clear: both;
    }

    .h-165 {
        height: 165px;
        clear: both;
    }

    .menu {
        width: 90px;
    }

        .menu ul li {
            width: 90px;
            height: 90px;
        }

            .menu ul li a {
                width: 90px;
                height: 90px;
            }

                .menu ul li a img {
                    width: 60px;
                }

            .menu ul li:hover a img, .menu ul li.selected a img {
                width: 90px;
            }

    .cloud1 {
        width: 715px;
        height: 126px;
        background: url('../Images/cloud-3-raw.png') no-repeat 0px 0px transparent;
    }

    .cloud2 {
        width: 400px;
        height: 163px;
        background: url('../Images/cloud-2-raw.png') no-repeat 0px 0px transparent;
    }

    .cloud3 {
        width: 400px;
        height: 151px;
        background: url('../Images/cloud-3-raw.png') no-repeat 0px 0px transparent;
    }

    .big-logo {
        width: 100px;
        height: 115px;
        background: url('../Images/logo-th-small.png') no-repeat 0px 0px transparent;
    }

    .small-logo {
        width: 75px;
        height: 86px;
        background: url('../Images/small-logo-small.png') no-repeat 0px 0px transparent;
    }

    .text-landingpage {
        margin-top: -20px;
        font-size: 40px;
    }

    .text-landingpage-2 {
        width: 70%;
        font-size: 22px;
    }

    a.button-viewmore {
        font-size: 16px;
    }

    a.button-backtop {
        font-size: 16px;
    }

    .text-farmpage, .text-treatmentpage, .text-zymoticpage, .text-tastepage, .text-productpage, .text-productpage-2 {
        font-size: 25px;
    }

    .text-farmpage-2, .text-treatmentpage-2 {
        width: 75%;
        font-size: 25px;
        margin-right: 25%;
    }

    .milk-drop {
        width: 150px;
        height: 230px;
    }

    .yogurt-1 {
        width: 200px;
        left: 175px;
    }

    .yogurt-2 {
        width: 150px;
        left: 100px;
    }

    .yogurt-3 {
        width: 150px;
        left: 300px;
    }

    .yogurt-4 {
        width: 100px;
        left: 400px;
    }

    .yogurt-5 {
        width: 100px;
        left: 50px;
    }

    #suachua {
        width: 700px;
        height: 390px;
        margin: 0 auto;
    }

        #suachua #yogurt1 {
            top: 27px;
            left: 162px;
            width: 180px;
            height: 135px;
        }

        #suachua #yogurt2 {
            top: 27px;
            left: 356px;
            width: 187px;
            height: 135px;
        }

        #suachua #yogurt3 {
            top: 164px;
            left: 249px;
            width: 206px;
            height: 198px;
        }

        #suachua #yogurt4 {
            top: 165px;
            left: 461px;
            width: 224px;
            height: 198px;
        }

        #suachua #yogurt5 {
            top: 164px;
            left: 22px;
            width: 216px;
            height: 197px;
        }

    #suachuauong {
        width: 300px;
        height: 500px;
    }

    .milk-1 {
        width: 130px;
        left: 0px;
    }

    .milk-2 {
        width: 90px;
        left: 190px;
    }

    .milk-3 {
        width: 60px;
        left: 135px;
    }

    #suachuauongmensong {
        width: 430px;
        height: 450px;
    }

    .yomilk-1 {
        width: 140px;
        left: 80px;
        bottom: 0px;
    }

    .yomilk-2 {
        width: 110px;
        left: 230px;
        bottom: 50px;
    }

    .yomilk-3 {
        width: 80px;
        left: 350px;
        bottom: 80px;
    }

    .yomilk-4 {
        width: 70px;
        left: 0px;
    }

    .product-detail-img {
        left: 10px;
        top: 50px;
        position: relative;
        text-align: left;
        width: 155px;
        float: left;
    }

    .product-detail-milk-img {
        width: 120px;
        margin-top: 50px;
        margin-left: 30px;
        position: relative;
        text-align: left;
        float: left;
        height: 200px;
    }

    .product-detail-yomilk-img {
        width: 120px;
        position: relative;
        text-align: left;
        float: left;
        margin-left: 30px;
        margin-top: 50px;
        height: 200px;
    }

    .title-ribbon {
        height: 25px;
        min-width: 350px;
        padding-right: 20px;
        font-size: 15px;
        padding-left: 0px;
        padding-top: 2px;
        margin-left: 0px;
        text-align: center;
    }

    .box-info {
        width: 700px;
        top: 130px;
    }

    .product-detail-info {
        width: 700px;
        height: 350px;
        top: 10px;
        left: 0px;
        margin-top: 0px;
        margin-left: 0px;
        position: absolute;
    }

    .ribbon-title {
        width: 14px;
        height: 12px;
        margin-top: 55px;
        margin-left: -14px;
        display: none;
        position: relative;
    }

    .ribbon-info {
        width: 39px;
        height: 85px;
        margin-top: 210px;
        margin-left: -39px;
        display: none;
        position: relative;
    }

    .content-product {
        height: 420px;
    }

    .arrow-bottom {
        top: 150px;
    }

    .cycle-arrow-prev {
        margin-left: -50px;
    }

    .cycle-arrow-next {
        margin-right: -50px;
    }

    #product-1, #product-2, #product-3, #product-4, #product-5 {
        width: 700px;
        margin-top: 100px;
    }

    #product-6, #product-7, #product-8 {
        width: 700px;
        margin-top: 100px;
    }

    #product-9, #product-10, #product-11, #product-12 {
        width: 700px;
        margin-top: 100px;
    }

        #product-9 .title-ribbon, #product-10 .title-ribbon, #product-11 .title-ribbon, #product-12 .title-ribbon {
            left: 336px;
        }

        #product-9 .box-info, #product-10 .box-info, #product-11 .box-info, #product-12 .box-info {
            left: 350px;
        }

        #product-9 .ribbon-title, #product-10 .ribbon-title, #product-11 .ribbon-title, #product-12 .ribbon-title {
            left: 336px;
        }

        #product-9 .ribbon-info, #product-10 .ribbon-info, #product-11 .ribbon-info, #product-12 .ribbon-info {
            left: 311px;
        }

    #product-6 .title-ribbon, #product-7 .title-ribbon, #product-8 .title-ribbon {
        left: 336px;
    }

    #product-6 .box-info, #product-7 .box-info, #product-8 .box-info {
        left: 350px;
    }

    #product-6 .ribbon-title, #product-7 .ribbon-title, #product-8 .ribbon-title {
        left: 336px;
    }

    #product-6 .ribbon-info, #product-7 .ribbon-info, #product-8 .ribbon-info {
        left: 311px;
    }

    #product-1 .title-ribbon, #product-2 .title-ribbon, #product-3 .title-ribbon, #product-4 .title-ribbon, #product-5 .title-ribbon {
        left: 516px;
    }

    #product-1 .box-info, #product-2 .box-info, #product-3 .box-info, #product-4 .box-info, #product-5 .box-info {
        left: 530px;
    }

    #product-1 .ribbon-title, #product-2 .ribbon-title, #product-3 .ribbon-title, #product-4 .ribbon-title, #product-5 .ribbon-title {
        left: 516px;
    }

    #product-1 .ribbon-info, #product-2 .ribbon-info, #product-3 .ribbon-info, #product-4 .ribbon-info, #product-5 .ribbon-info {
        left: 491px;
    }

    .text-row-left {
        width: 240px;
        margin-left: 180px;
        margin-top: 10px;
        font-size: 11px;
        line-height: 15px;
    }

    .text-row-right {
        width: 250px;
        margin-top: 10px;
        font-size: 11px;
        line-height: 15px;
        float: right;
    }

    .price {
        margin-left: 35px;
        font-size: 20px;
        margin-top: 0px;
        margin-right: 20px;
        float: right;
    }

    .all-product {
        width: 300px;
    }

    .promo-text {
        font-size: 25px;
        width: 730px;
        /*margin-left: 50px;*/
        margin-top: 50px;
    }

    .guide-text {
        width: 100%;
        font-size: 14px;
    }

        .guide-text img {
            width: 150px;
        }

        .guide-text span {
            width: 100px;
            left: 22px;
            top: 35px;
            font-size: 14px;
        }

    .text-promotion span {
        font-size: 18px;
        line-height: 25px;
    }

    .cycle {
        width: 382px;
        height: 369px;
        top: 180px;
    }

    .registration-page .box {
        margin-top: 0px;
    }
}

.ie-text-img {
    display: none;
}

.balloon-alert {
    width: 210px;
    height: 199px;
    position: absolute;
    top: 0px;
    left: 700px;
    display:none;
}

.balloon-alert .alert-text {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.balloon-alert .alert-text:hover {
    color: #003377;
    text-decoration: underline;
}

.balloon-alert span {
    line-height: 1.5;
    display: block;
    position: absolute;
    top: 40px;
    left: 30px;
    width: 140px;
    font-size: 14px;
    color: #fff;
    text-align: justify;
}
