﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="page">
        <img class="background" src="@Url.Content("~/Images/background.jpg")" width="100%" height="100%" alt="" />
        <header>
            <div class="header">
                <a href="http://thmilk.vn" target="_blank" class="logo">
                    <img src="@Url.Content("~/Images/logo.png")" alt="" />
                </a>
                <nav>
                    <ul class="menu">
                        <li>
                            <a href="@Url.Action("Index", "Home")">Sản phẩm sữa chua TH true YOGURT</a>
                        </li>
                        <li>
                            <a href="@(Url.Action("Index", "Home") + "#stores")">Cửa hàng TH true mart</a>
                        </li>
                        @*<li>
                                <a href="@Url.Action("SuaChuaUongMenSong", "Home")">Sữa chua uống men sống</a>
                            </li>
                            <li>
                                <a href="@Url.Action("SuaChuaUongTietTrung", "Home")">Sữa chua uống tiệt trùng</a>
                            </li>
                            <li>
                                <a href="@Url.Action("DangKyDungThu", "Home")">Đăng ký dùng thử sản phẩm</a>
                            </li>
                            <li>
                                <a href="@Url.Action("CuaHang", "Home")">Danh sách cửa hàng</a>
                            </li>*@
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
        </header>
        <div id="body">
            <section class="main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            © TH Milk, .JSC 2013. All rights reserved.&nbsp;&nbsp;&nbsp;<a href="http://thmilk.vn/vi/content/%C4%91i%E1%BB%81u-kho%E1%BA%A3n-s%E1%BB%AD-d%E1%BB%A5ng" target="_blank">Terms of Use</a>
        </footer>
    </div>

    @RenderSection("scripts", required: false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-9714747-3', 'thmilk.vn');
        ga('send', 'pageview');

    </script>
</body>
</html>
