﻿@{
    ViewBag.Title = "Danh sách thành viên đăng ký";
}

@model System.Collections.IEnumerable

@section head {
    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
                                    )
    @Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
                             )
}

<div>
    @using (Html.BeginForm("ExportTo", "Admin"))
    {
        <br />
        @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "ExportXLS";
                settings.Text = "Export to XLS";
                settings.UseSubmitBehavior = true;
            }).GetHtml()
        <br />
        @Html.Partial("RegistrationPartial", Model)
    }
</div>
