﻿/* ==========================================================================
   Font face
   ========================================================================== */
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('fonts/MyriadPro-Regular.eot');
    src: local('☺'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINRoundOT-Bold';
    src: url('fonts/DINRoundOT-Bold.eot');
    src: local('☺'), url('fonts/DINRoundOT-Bold.woff') format('woff'), url('fonts/DINRoundOT-Bold.ttf') format('truetype'), url('fonts/DINRoundOT-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINRoundOT';
    src: url('fonts/DINRoundOT.eot');
    src: local('☺'), url('fonts/DINRoundOT.woff') format('woff'), url('fonts/DINRoundOT.ttf') format('truetype'), url('fonts/DINRoundOT.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: 1.4;
    padding: 0px;
    margin: 0px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {
    text-decoration: none;
}


.clearfix {
    clear: both;
}

a {
    text-decoration: none;
    border: none;
}

    a img {
        border: none;
    }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.page {
    min-width: 1008px;
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

header {
    background: url('../Images/header_bar.jpg') repeat-x 0px 0px transparent;
    width: 100%;
    height: 50px;
}

.header {
    width: 1008px;
    margin: auto;
}

.logo {
    float: left;
    margin-top: 5px;
}

.menu {
    list-style: none;
    padding: 0px;
    margin: 15px 0px;
    float: left;
}

    .menu li {
        float: left;
        font-family: "MyriadPro-Regular", Arial, sans-serif;
        font-size: 16px;
        padding: 0px 15px 0px 18px;
        background: url('../Images/menu_down_icon.png') no-repeat right center transparent;
    }

        .menu li:first-child {
            margin-left: 10px;
        }

        .menu li a {
            color: #3399cc;
            text-decoration: none;
        }

        .menu li:hover, .menu li.selected {
            background-image: url('../Images/menu_down_icon_selected.png');
        }

            .menu li:hover a, .menu li.selected a {
                color: #003275;
            }

footer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 9pt;
    color: #003377;
    clear: both;
}

    footer a {
        color: #003377;
        font-weight: bold;
    }


/********************
    HOME PAGE
*********************/

.home-page {
    width: 1008px;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

    .home-page h1 {
        color: #0f4393;
        font-family: "DINRoundOT-Bold";
        font-size: 26px;
        padding: 0px;
        margin: 20px 0px;
        text-align: center;
    }

    .home-page .coverflow {
        width: 100%;
        position: relative;
        margin: auto;
    }

        .home-page .coverflow a {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
        }

    .home-page .title {
        width: 350px;
        height: 50px;
        background: url('../Images/bg_title.png') repeat 0px 0px transparent;
        color: #fff;
        font-family: "DINRoundOT";
        font-size: 26px;
        line-height: 50px;
        text-align: center;
        margin: auto;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .home-page .left-arrow {
        width: 23px;
        height: 45px;
        background: url('../Images/left_arrow.png') no-repeat 0px 0px transparent;
        display: block;
        position: absolute;
        top: 225px;
        left: 0px;
        z-index: 99;
    }

    .home-page .right-arrow {
        width: 23px;
        height: 45px;
        background: url('../Images/right_arrow.png') no-repeat 0px 0px transparent;
        display: block;
        position: absolute;
        top: 225px;
        right: 0px;
        z-index: 99;
    }

.invester {
    width: 1008px;
    background: url('../Images/bottom.png') no-repeat right 0px transparent;
    position: relative;
    z-index: 100;
}

/**********************
    Landing product
***********************/

.landing-product {
    width: 1008px;
    height: 500px;
    margin: auto;
    padding: 40px 0px;
    position: relative;
}

    .landing-product h1 {
        color: #005993;
        font-family: "DINRoundOT-Bold";
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

    .landing-product h2 {
        width: 350px;
        color: #1b93d2;
        font-family: "DINRoundOT";
        font-size: 20px;
        margin: auto;
    }

        .landing-product h2 strong {
            font-family: "DINRoundOT-Bold";
            font-size: 22px;
        }

    .landing-product .left-arrow {
        width: 23px;
        height: 45px;
        background: url('../Images/left_arrow.png') no-repeat 0px 0px transparent;
        display: block;
        margin: 50px 0px 0px 0px;
        float: left;
        display: none;
    }

    .landing-product .right-arrow {
        width: 23px;
        height: 45px;
        background: url('../Images/right_arrow.png') no-repeat 0px 0px transparent;
        display: block;
        margin: 50px 0px 0px 0px;
        float: right;
        display: none;
    }

    .landing-product .list {
        margin-top: 20px;
        position: relative;
    }

        .landing-product .list .dock-container {
            position: absolute;
        }

        .landing-product .list a {
            display: block;
            position: absolute;
            top: 0px;
        }

            .landing-product .list a img {
                width: 200px;
            }

            .landing-product .list a span {
                display: none;
            }

    .landing-product .title {
        width: 260px;
        height: 83px;
        background: url('../Images/suachuaan_bg_title.png') no-repeat 0px 0px transparent;
        line-height: 25px;
        padding-left: 20px;
        color: #fff;
        font-family: "DINRoundOT";
        font-size: 23px;
        position: absolute;
        top: 460px;
        left: 372px;
        display: none;
    }

.suachuaan .title {
}



/********************
    Product page
*********************/

.product-page {
    width: 1024px;
    margin: auto;
    position: relative;
}

    .product-page h1 {
        height: 59px;
        background: url('../Images/bg_product_title.png') no-repeat 0px 0px transparent;
        line-height: 40px;
        padding-left: 20px;
        padding-right: 20px;
        color: #fff; /* text color */
        font-family: "DINRoundOT";
        font-size: 26px;
        text-transform: capitalize;
        display: block;
        float: left;
    }

    .product-page h2 {
        font-family: "DINRoundOT";
        font-size: 26px;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }

        .product-page h2 strong {
            font-family: "DINRoundOT-Bold";
        }

    .product-page .content {
        width: 100%;
        height: 600px;
        position: relative;
        overflow: hidden;
    }

        .product-page .content .scroll-container {
            width: auto;
            height: 100%;
        }

        .product-page .content .product-detail {
            width: 1024px;
            height: 600px;
            font-family: Arial;
            font-size: 12px;
            position: relative;
            float: left;
        }

            .product-page .content .product-detail img {
                margin-top: 70px;
                margin-left: 20px;
                float: left;
            }

            .product-page .content .product-detail .description {
                width: 580px;
                float: left;
                margin-top: 70px;
                margin-left: 20px;
            }

                .product-page .content .product-detail .description .col {
                    width: 46%;
                    float: left;
                    padding: 0px 2%;
                }

                .product-page .content .product-detail .description table {
                }

                    .product-page .content .product-detail .description table tr td:first-child {
                        padding-right: 50px;
                    }

                    .product-page .content .product-detail .description table tr td:last-child {
                        color: #1e9fdd;
                    }

                .product-page .content .product-detail .description .price {
                    color: #1e9fdd; /* text color */
                    font-family: "DINRoundOT";
                    font-size: 25px;
                    padding-top: 20px;
                }

    .product-page .left-arrow {
        width: 23px;
        height: 45px;
        background: url('../Images/left_arrow.png') no-repeat 0px 0px transparent;
        display: block;
        position: absolute;
        left: 0px;
        top: 212px;
        z-index: 99;
    }

    .product-page .right-arrow {
        width: 23px;
        height: 45px;
        background: url('../Images/right_arrow.png') no-repeat 0px 0px transparent;
        display: block;
        position: absolute;
        right: 0px;
        top: 212px;
        z-index: 99;
    }

    .product-page .others {
        width: 962px;
        height: 149px;
        background: url('../Images/bg_others_box.png') no-repeat 0px 0px transparent;
        position: relative;
        margin-left: 26px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

        .product-page .others .title {
            width: 143px;
            height: 92px;
            background: url('../Images/bg_others_title.png') no-repeat 0px 0px transparent;
            float: left;
            margin-top: -20px;
            margin-left: -16px;
            margin-right: 20px;
            line-height: 36px;
            color: #fff;
            font-family: "DINRoundOT-Bold";
            font-size: 28px;
            font-weight: bold;
            padding-left: 30px;
            padding-top: 5px;
        }

        .product-page .others .item {
            width: 140px;
            display: block;
            position: relative;
            margin-top: 5px;
            margin-right: 20px;
            float: left;
            text-align: center;
        }

            .product-page .others .item img {
                width: 130px;
            }

            .product-page .others .item div {
                width: 130px;
                height: 38px;
                background: url('../Images/bg_others_list.png') no-repeat 0px 0px transparent;
                color: #fffefe;
                font-family: "DINRoundOT";
                font-size: 14px;
                padding-left: 10px;
                position: absolute;
                top: 100px;
                left: 0px;
                line-height: 46px;
                text-align: left;
            }


.suachuauongmensong, .suachuauongtiettrung {
    height: 700px;
}

    .suachuauongmensong h1, .suachuauongtiettrung h1 {
        font-size: 36px;
    }

    .suachuauongmensong .title, .suachuauongtiettrung .title {
        top: 670px;
    }

.product-suachuauongmensong .content .product-detail img, .product-suachuauongtiettrung .content .product-detail img {
    margin-top: 20px;
}

.product-suachuauongtiettrung .content .product-detail img {
    margin-left: 50px;
}

.product-suachuauongmensong .content .product-detail .description, .product-suachuauongtiettrung .content .product-detail .description {
    margin-top: 20px;
}

.product-suachuauongmensong .others .item img, .product-suachuauongtiettrung .others .item img {
    width: 60px;
}


/*********************
    Store page
**********************/

.store-page {
    width: 1008px;
    margin: auto;
    position: relative;
}

    .store-page h1 {
        height: 55px;
        background: url('../Images/bg_store_title.png') no-repeat 0px 0px transparent;
        color: #fff;
        font-family: "DINRoundOT-Bold";
        font-size: 30px;
        font-weight: bold;
        padding-left: 30px;
        line-height: 40px;
    }

    .store-page h2 {
        color: #063175;
        font-family: "DINRoundOT-Bold";
        font-size: 26px;
        font-weight: bold;
        text-align: justify;
        padding: 0px 10px;
    }

    .store-page p {
        color: #063175; /* text color */
        font-family: "DINRoundOT";
        font-size: 18px;
        float: left;
        padding: 0px 10px;
    }

        .store-page p strong {
            font-family: "DINRoundOT-Bold";
        }

    .store-page img {
        float: right;
        margin-right: 10px;
    }

    .store-page .content {
        width: 900px;
        margin: auto;
        color: #063175;
        font-family: "DINRoundOT";
        font-size: 18px;
        padding-bottom: 40px;
        line-height: 1.5;
    }

        .store-page .content a, .store-page .content strong {
            color: #063175;
            font-family: "DINRoundOT-Bold";
        }

    .store-page .box {
        width: 900px;
        height: 460px;
        margin: 20px auto 10px auto;
        background: #fff;
    }

        .store-page .box #map-canvas {
            width: 540px;
            height: 100%;
            float: left;
        }

        .store-page .box .right-panel {
            width: 360px;
            height: 100%;
            background-color: rgba(0, 33, 91, 0.8);
            float: right;
            color: #fff;
            font-family: "DINRoundOT";
            font-size: 15px;
        }

            .store-page .box .right-panel div {
                height: 440px;
                float: left;
                margin: 10px 0px;
                overflow: auto;
            }

                .store-page .box .right-panel div:first-child {
                    width: 100px;
                    border-right: solid 2px #fff;
                }

                    .store-page .box .right-panel div:first-child a {
                        display: block;
                        text-transform: uppercase;
                        padding: 5px 10px;
                        text-decoration: none;
                        color: #fff;
                    }

                        .store-page .box .right-panel div:first-child a:hover {
                            background: #fff;
                            color: #063175;
                        }

                .store-page .box .right-panel div:last-child {
                    width: 225px;
                    margin-left: 10px;
                    padding-right: 10px;
                }

                    .store-page .box .right-panel div:last-child ul {
                        list-style: none;
                        margin: 0px;
                        padding: 0px;
                        display: none;
                    }

                    .store-page .box .right-panel div:last-child a {
                        display: block;
                        padding: 5px 10px;
                        text-decoration: none;
                        color: #fff;
                    }

                        .store-page .box .right-panel div:last-child a:hover {
                            background: #fff;
                            color: #063175;
                        }

    .store-page .content .image {
        width: 291px;
        height: 274px;
        background: url('../Images/img_products.png') no-repeat 0px 0px transparent;
        float: right;
        margin-top: -50px;
        margin-right: -80px;
    }


/********************
    Media page
*********************/

.media-page {
    width: 1024px;
    margin: auto;
}

    .media-page .tvcbox {
        width: 985px;
        height: 492px;
        background: url('../Images/bg_tvcbox.png') no-repeat 0px 0px transparent;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }

        .media-page .tvcbox .list {
            float: left;
            margin-top: 20px;
            margin-left: 30px;
        }

            .media-page .tvcbox .list a {
                width: 222px;
                height: 144px;
                display: block;
                position: relative;
                margin-top: 20px;
            }

                .media-page .tvcbox .list a .title {
                    width: 95%;
                    height: 31px;
                    background: rgba(0, 89, 147, 0.7);
                    color: #fff; /* text color */
                    font-family: "DINRoundOT-Bold";
                    font-size: 18px;
                    padding-left: 5%;
                    line-height: 31px;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                }

                .media-page .tvcbox .list a .overlay {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    opacity: 0.5;
                    background: url('../Images/icon_play.png') no-repeat center center rgba(0, 0, 0, 0.8);
                }

                .media-page .tvcbox .list a:hover .overlay {
                    background-color: rgba(0, 0, 0, 0.3);
                    opacity: 0.7;
                }

                .media-page .tvcbox .list a.selected .overlay {
                    display: none;
                }

        .media-page .tvcbox .tvc {
            width: 690px;
            height: 415px;
            float: left;
            margin: 40px 20px 20px 20px;
        }

    .media-page .newsbox {
        clear: both;
        width: 970px;
        margin: auto;
        font-family: "DINRoundOT";
        font-size: 14px;
        color: #116daf;
        margin-bottom: 50px;
    }

        .media-page .newsbox .box-title {
            width: 153px;
            height: 74px;
            background: url('../Images/bg_newsbox.png') no-repeat 0px 0px transparent;
            padding-left: 20px;
            padding-top: 10px;
            color: #fff;
            font-family: "DINRoundOT-Bold";
            font-size: 25px;
            line-height: 30px;
            text-transform: capitalize;
            float: left;
            margin-right: 20px;
        }

        .media-page .newsbox ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
            float: left;
        }

            .media-page .newsbox ul li {
                width: 232px;
                height: 131px;
                background-color: rgba(31, 165, 225, 0.5);
                float: left;
                padding: 5px;
                margin-right: 20px;
                position: relative;
            }

                .media-page .newsbox ul li:last-child {
                    margin-right: 0px;
                }

                .media-page .newsbox ul li .title {
                    font-family: "DINRoundOT-Bold";
                    margin-bottom: 10px;
                }

                .media-page .newsbox ul li .description {
                }

                .media-page .newsbox ul li .more {
                    width: 141px;
                    height: 33px;
                    display: block;
                    background: url('../Images/bg_news_title.png') no-repeat 0px 0px transparent;
                    position: absolute;
                    right: -10px;
                    bottom: 0px;
                    line-height: 40px;
                    font-size: 12px;
                    color: #fff;
                    padding-left: 5px;
                }



/********************
    3D Gallery
*********************/

.dg-wrapper {
    width: 350px;
    height: 455px;
    margin: 0 auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
}

    .dg-wrapper a.dg-transition {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

.dg-container nav span {
    text-indent: -9000px;
    cursor: pointer;
}


/*************************
    Registration page
**************************/

.registration-page {
    width: 1008px;
    margin: auto;
    position: relative;
}

    .registration-page h1 {
        height: 59px;
        background: url('../Images/bg_product_title.png') no-repeat 0px 0px transparent;
        line-height: 40px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 5px;
        margin-bottom: -5px;
        color: #fff; /* text color */
        font-family: "DINRoundOT";
        font-size: 18px;
        text-transform: capitalize;
        display: block;
        float: left;
    }

    .registration-page .box {
        width: 649px;
        margin: auto;
        background-color: #f3f3f3;
        -moz-box-shadow: 3px 4px 5px rgba(35,31,32,.53);
        -webkit-box-shadow: 3px 4px 5px rgba(35,31,32,.53);
        box-shadow: 3px 4px 5px rgba(35,31,32,.53);
        padding: 20px 30px;
    }

        .registration-page .box h2, .registration-page .box2 h2 {
            color: #003377;
            font-family: "DINRoundOT";
            font-size: 16px;
        }

    .registration-page .box2 {
        width: 649px;
        margin: auto;
        padding: 20px 30px;
    }

    .registration-page .row {
        clear: both;
        padding-bottom: 20px;
        font-family: "DINRoundOT";
        font-size: 16px;
    }

        .registration-page .row label {
            width: 230px;
            float: left;
            color: #063175;
            line-height: 40px;
        }

        .registration-page .row input[type=text] {
            width: 380px;
            height: 30px;
            border: none;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #1171b1;
            color: #fff;
            padding: 0px 10px;
            font-family: "DINRoundOT";
            font-size: 14px;
            behavior: url(font/PIE.htc);
        }

        .registration-page .row button {
            width: 97px;
            height: 45px;
            -moz-border-radius: 3px / 5px;
            -webkit-border-radius: 3px / 5px;
            border-radius: 3px / 5px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #1171b1;
            color: #f2f2f2;
            font-family: "DINRoundOT-Bold";
            font-size: 18px;
            border: none;
            text-transform: uppercase;
            cursor: pointer;
            behavior: url(font/PIE.htc);
        }

        .registration-page .row .field-validation-error {
            color: #f00;
        }

    .registration-page .image {
        width: 300px;
        height: 251px;
        background: url('../Images/all-product-small.png') no-repeat 0px 0px transparent;
        float: right;
        margin-top: -130px;
        margin-right: -80px;
    }


/*******************
    Dropdown list
********************/

.cd-dropdown,
.cd-select {
    height: 40px;
    position: relative;
    width: 320px;
    display: block;
    float: left;
    z-index: 0;
}

    .cd-dropdown > span {
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        background: #1171b1;
        display: block;
        padding: 0 50px 0 30px;
        position: relative;
        cursor: pointer;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        behavior: url(font/PIE.htc);
    }

        .cd-dropdown > span:after {
            content: '\25BC';
            position: absolute;
            right: 0px;
            width: 40px;
            height: 20px;
            text-align: center;
            font-size: 12px;
            padding: 10px 0px;
            line-height: 20px;
            border-left: 1px solid #ddd;
        }

    .cd-dropdown.cd-active > span:after {
        content: '\25B2';
    }

    .cd-dropdown ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
        position: relative;
    }

        .cd-dropdown ul li {
            display: block;
        }

            .cd-dropdown ul li span {
                width: 100%;
                background: #1171b1;
                line-height: 40px;
                padding: 0 30px 0 30px;
                display: block;
                color: #fff;
                cursor: pointer;
                font-weight: 700;
            }

            .cd-dropdown > span,
            .cd-dropdown ul li span {
                -webkit-backface-visibility: hidden;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

/* Select fallback styling */
.cd-select {
    border: 1px solid #ddd;
}

.cd-dropdown > span,
.cd-dropdown ul li:nth-last-child(-n+3) span {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul {
    position: absolute;
    top: 0px;
    width: 100%;
}

    .cd-dropdown ul li {
        position: absolute;
        width: 100%;
    }

.cd-active.cd-dropdown > span,
.cd-active.cd-dropdown ul li span {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-active.cd-dropdown ul li span {
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

    .cd-active.cd-dropdown ul li span:hover {
        background: #fc756f;
        color: #fff;
    }


