﻿@{
    ViewBag.Title = "Cửa hàng TH True Mart";
}

@model List<TH_Yogurt.Store>
@section scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2h5WnO6MZK708zSrNNniCzD7gRCQ33p4&sensor=true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu li:eq(1)').addClass("selected");

            showList('north');
        });

        function showList(id) {
            $('.right-panel ul').hide();
            $('#' + id).fadeIn();
        }
    </script>

    <script type="text/javascript">
        var vietdev = new google.maps.LatLng(10.776468, 106.690520);
        var marker;
        var infowindow;
        var map, geocoder;

        function initialize() {
            geocoder = new google.maps.Geocoder();
            var mapOptions = {
                center: vietdev,
                zoom: 18,
                disableDoubleClickZoom: true,
                mapTypeControl: false,
                //panControl: false,
                //rotateControl: false,
                //scrollwheel: false,
                //zoomControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        function codeAddress(address) {
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    console.log("Geocode was not successful for the following reason: " + status);
                }
            });
        }

        function showInfo(addr, phone) {
            $('#address').html(addr + "<br />ĐT: " + phone);
            codeAddress(addr);
        }
    </script>
}

<div class="store-page">
    <h1>
        Cửa hàng TH true mart
    </h1>
    <div class="box">
        <div id="map-canvas"></div>
        <div class="right-panel">
            <div>
                <a href="javascript:void(0);" onclick="showList('north')">Miền Bắc</a>
                <a href="javascript:void(0);" onclick="showList('south')">Miền Nam</a>
            </div>
            <div>
                <ul id="north">
                    @foreach (var c in Model)
                    {
                        if (c.City.ToLower() == "hà nội")
                        {
                            <li><a href="javascript:void(0);" onclick="showInfo('@c.StoreAddress', '@c.PhoneNumber')">@c.StoreAddress</a></li>
                        }
                    }
                </ul>
                <ul id="south">
                    @foreach (var c in Model)
                    {
                        if (c.City.ToLower() == "tp. hồ chí minh")
                        {
                            <li><a href="javascript:void(0);" onclick="showInfo('@c.StoreAddress', '@c.PhoneNumber')">@c.StoreAddress</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="content">
        <span id="address"></span>
        <div class="image"></div>
    </div>
</div>