﻿@{
    ViewBag.Title = "Cửa hàng TH True Mart";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu li:eq(1)').addClass("selected");
        });
    </script>
}

<div class="store-page">
    <h1>
        Chương Trình Dùng Thử Sản Phẩm
    </h1>
    <h2>
        Hãy đến thăm cửa hàng TH true mart để trở thành những khách hàng đầu tiên thưởng thức miễn phí các sản phẩm mới hoàn toàn từ sữa nguyên chất của Trang trại TH, tham gia các trò chơi thú vị và được chuyên gia tư vấn dinh dưỡng trực tiếp tại cửa hàng.
    </h2>
    <p>
        <strong>Tại Hà Nội:</strong>
        <br />
        Thời gian: ngày 23 - 25/07/2013
        <br />
        8h00 - 12h00, 14h00 - 21h00
        <br />
        Địa điểm: 23 Hoàng Quốc Việt, P. Nghĩa Đô, Q. Cầu Giấy
        <br />
        6 Chùa Bộc, P. Quang Trung, Q. Đống Đa
        <br />
        <br />
        <strong>Tại Nghệ An:</strong>
        <br />
        Thời gian: ngày 26 - 28/07/2013
        <br />
        8h00 - 12h00, 14h00 - 21h00
        <br />
        Địa điểm: 115 Quang Trung, Tp. Vinh
        <br />
        <br />
        <strong>Tại Tp. Hồ Chí Minh:</strong>
        <br />
        Thời gian: ngày 26 - 28/07/2013
        <br />
        8h00 - 12h00, 14h00 - 21h00
        <br />
        Địa điểm: 36 Phan Đăng Lưu, P. 5, Q. Phú Nhuận
        <br />
        112 Trần Hưng Đạo, P. Phạm Ngũ Lão, Q. 1
        <br />
        425 - 427 Điện Biên Phủ, P. 3, Q. 3
    </p>
    <img src="@Url.Content("~/Images/img_storepage.png")" alt="TH True Mart" />
    <div class="clearfix"></div>
    <div class="content">
        Đặng kí nhận thư mời tham gia chương trình qua
        <br />
        email: <a href="mailto:thtruemart.vn@gmail.com">thtruemart.vn@gmail.com</a> hoặc gửi tin nhắn qua fanpage: <a href="http://facebook.com/thmilk" target="_blank">facebook.com/thmilk</a>
        <br />
        Thông tin chi tiết xin vui lòng liên hệ Hotline <strong>1800 54 54 40</strong>
    </div>
</div>