﻿@{
    ViewBag.Title = "Đăng ký dùng thử sản phẩm";
}

@model TH_Yogurt.Models.InvitationModel

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#DateOfBirth").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1930:2013'
            });

            $('#TrueMart').dropdown({
                gutter: 0
            });
        });
    </script>
}

<div class="registration-page">
    @using (Html.BeginForm())
    {
        <h1>
            Đăng ký tham gia chương trình dùng thử sản phẩm
        </h1>
        <div class="clearfix"></div>
        <div class="box">
            <h2>
                Xin vui lòng điền đầy đủ thông tin vào mẫu dưới đây để nhận được thư mời tham gia Chương trình Dùng thử sản phẩm sữa chua TH true YOGURT tại các cửa hàng TH true mart từ ngày 15-17/11 và 22-24/11
            </h2>
            <div class="row">
                @Html.LabelFor(m => m.Fullname, "Họ và tên:")
                @Html.TextBoxFor(m => m.Fullname)
                <br />
                @Html.ValidationMessageFor(m => m.Fullname)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.DateOfBirth, "Ngày sinh:")
                @Html.TextBoxFor(m => m.DateOfBirth)
                <br />
                @Html.ValidationMessageFor(m => m.DateOfBirth)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.Gender, "Giới tính:")
                @Html.RadioButtonFor(m => m.Gender, "Nam") Nam
                @Html.RadioButtonFor(m => m.Gender, "Nữ") Nữ
                <br />
                @Html.ValidationMessageFor(m => m.Gender)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.Email, "Email:")
                @Html.TextBoxFor(m => m.Email)
                <br />
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.PhoneNumber, "Số điện thoại:")
                @Html.TextBoxFor(m => m.PhoneNumber)
                <br />
                @Html.ValidationMessageFor(m => m.PhoneNumber)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.Address, "Địa chỉ:")
                @Html.TextBoxFor(m => m.Address)
                <br />
                @Html.ValidationMessageFor(m => m.Address)
            </div>
            <div class="row">
                <label>Nhận thư mời tham gia tại:</label>
                @Html.DropDownListFor(m => m.TrueMart, new List<SelectListItem>
               {
                   new SelectListItem() {
                       Text = "Địa điểm nhận thư mời tham gia",
                       Value = "-1",
                       Selected = true
                   },
                   new SelectListItem() {
                       Text = "Hà Nội",
                       Value = "Hà Nội"
                   },
                   new SelectListItem() {
                       Text = "TP. Hồ Chí Minh",
                       Value = "TP. Hồ Chí Minh"
                   },
                    new SelectListItem() {
                        Text = "Nghệ An",
                        Value = "Nghệ An"
                    }@*,
                        new SelectListItem() {
                            Text = "Hải Dương",
                            Value = "Hải Dương"
                        },
                        new SelectListItem() {
                            Text = "Vinh",
                            Value = "Vinh"
                        },
                        new SelectListItem() {
                            Text = "Thanh Hóa",
                            Value = "Thanh Hóa"
                        },
                        new SelectListItem() {
                            Text = "Nghệ An",
                            Value = "Nghệ An"
                        }*@
               })
                <div class="clearfix" style="height: 10px;"></div>
                @Html.ValidationMessageFor(m => m.TrueMart)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.JoinTime, "Tham gia chương trình vào:")
                @Html.RadioButtonFor(m => m.JoinTime, "Từ 15 – 17/11") Từ 15 – 17/11
                @Html.RadioButtonFor(m => m.JoinTime, "Từ 22 - 24/11") Từ 22 - 24/11
                <br />
                @Html.ValidationMessageFor(m => m.JoinTime)
            </div>
            <div class="row" style="text-align: right;">
                <button type="submit">Đăng ký</button>
            </div>
        </div>
        <div style="position: absolute; top: 245px; right: -50px;">
            <img src="@Url.Content("~/Images/Yogurt_TextBox_Promotion.png")" style="width: 250px;" />
        </div>
    }
    <div class="image">
    </div>
</div>