﻿@{
    ViewBag.Title = "Sữa chua ăn";
}

@model string

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu li:eq(1)').addClass("selected");

            $('.scroll-container').width($('.content').width() * $('.scroll-container .product-detail').length);

            $('#@Model.ToLower()').trigger('click');
        });
    </script>
}

<div class="product-page">
    <div class="content">
        <a class="left-arrow" href="javascript:void(0);" onclick="movePrev(1)"></a>
        <div class="scroll-container">
            <div id="product1" class="product-detail">
                <h1>
                    Sữa chua Dâu tự nhiên
                </h1>
                <div class="shares">

                </div>
                <div class="clearfix"></div>
                <img src="@Url.Content("~/Images/suachuaan_dau.png")" alt="Sữa chua ăn dâu tự nhiên" />
                <div class="description">
                    <div class="col">
                        <em>Xuất xứ nguyên liệu đầu vào:</em> Sử dụng hoàn toàn sữa tươi sạch nguyên chất của trang trại TH.
                        <br />
                        Thực phẩm bổ sung, không sử dụng chất bảo quản.
                        <br />
                        Sử dụng hương vị và màu tự nhiên.
                        <br />
                        Chứa khoảng 1 tỷ lợi khuẩn TH.acidophilus/hộp.
                        <br />
                        <br />
                        Đạt chứng nhận …
                        <br />
                        Đạt tiêu chuẩn …
                        <br />
                        <br />
                        <em>HƯỚNG DẪN BẢO QUẢN VÀ SỬ DỤNG :</em>
                        <br />
                        Bảo quản lạnh ở 4-8˚C.
                        Sử dụng ngay sau khi mở.
                    </div>
                    <div class="col">
                        Thành phần dinh dưỡng trong 100g
                        <table>
                            <tr>
                                <td>Năng lượng</td>
                                <td>95,3 Kcal</td>
                            </tr>
                            <tr>
                                <td>Hydrat cacbon</td>
                                <td>14,5 g</td>
                            </tr>
                            <tr>
                                <td>Chất đạm</td>
                                <td>2,8 g</td>
                            </tr>
                            <tr>
                                <td>Chất béo</td>
                                <td>2,9 g</td>
                            </tr>
                            <tr>
                                <td>Vitamin A</td>
                                <td>115 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin D</td>
                                <td>14 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin B2</td>
                                <td>160 &#181;g</td>
                            </tr>
                            <tr>
                                <td>Canxi</td>
                                <td>85 mg</td>
                            </tr>
                            <tr>
                                <td>Magie</td>
                                <td>6,2 mg</td>
                            </tr>
                            <tr>
                                <td>Kẽm</td>
                                <td>0,23 mg</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="price">
                        Giá: XX.000 VNĐ
                    </div>
                </div>
            </div>
            <div id="product2" class="product-detail">
                <h1>
                    Sữa chua Việt Quất tự nhiên
                </h1>
                <div class="shares">

                </div>
                <div class="clearfix"></div>
                <img src="@Url.Content("~/Images/suachuaan_vietquat.png")" alt="Sữa chua ăn việt quất tự nhiên" />
                <div class="description">
                    <div class="col">
                        <em>Xuất xứ nguyên liệu đầu vào:</em> Sử dụng hoàn toàn sữa tươi sạch nguyên chất của trang trại TH.
                        <br />
                        Thực phẩm bổ sung, không sử dụng chất bảo quản.
                        <br />
                        Sử dụng hương vị và màu tự nhiên.
                        <br />
                        Chứa khoảng 1 tỷ lợi khuẩn TH.acidophilus/hộp.
                        <br />
                        <br />
                        Đạt chứng nhận …
                        <br />
                        Đạt tiêu chuẩn …
                        <br />
                        <br />
                        <em>HƯỚNG DẪN BẢO QUẢN VÀ SỬ DỤNG :</em>
                        <br />
                        Bảo quản lạnh ở 4-8˚C.
                        Sử dụng ngay sau khi mở.
                    </div>
                    <div class="col">
                        Thành phần dinh dưỡng trong 100g
                        <table>
                            <tr>
                                <td>Năng lượng</td>
                                <td>104,8 Kcal</td>
                            </tr>
                            <tr>
                                <td>Hydrat cacbon</td>
                                <td>16,0 g</td>
                            </tr>
                            <tr>
                                <td>Chất đạm</td>
                                <td>3,0 g</td>
                            </tr>
                            <tr>
                                <td>Chất béo</td>
                                <td>3,2 g</td>
                            </tr>
                            <tr>
                                <td>Vitamin A</td>
                                <td>120 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin D</td>
                                <td>14 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin B2</td>
                                <td>160 &#181;g</td>
                            </tr>
                            <tr>
                                <td>Canxi</td>
                                <td>87 mg</td>
                            </tr>
                            <tr>
                                <td>Magie</td>
                                <td>6,3 mg</td>
                            </tr>
                            <tr>
                                <td>Kẽm</td>
                                <td>0,23 mg</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="price">
                        Giá: XX.000 VNĐ
                    </div>
                </div>
            </div>
            <div id="product3" class="product-detail">
                <h1>
                    Sữa chua Nha Đam tự nhiên
                </h1>
                <div class="shares">

                </div>
                <div class="clearfix"></div>
                <img src="@Url.Content("~/Images/suachuaan_nhadam.png")" alt="Sữa chua ăn nha đam tự nhiên" />
                <div class="description">
                    <div class="col">
                        <em>Xuất xứ nguyên liệu đầu vào:</em> Sử dụng hoàn toàn sữa tươi sạch nguyên chất của trang trại TH.
                        <br />
                        Không sử dụng chất bảo quản.
                        <br />
                        Sử dụng hương vị và màu tự nhiên.
                        <br />
                        <br />
                        Đạt chứng nhận …
                        <br />
                        Đạt tiêu chuẩn …
                        <br />
                        <br />
                        <em>HƯỚNG DẪN BẢO QUẢN VÀ SỬ DỤNG :</em>
                        <br />
                        Bảo quản lạnh ở 4-8˚C.
                        Sử dụng ngay sau khi mở.
                    </div>
                    <div class="col">
                        Thành phần dinh dưỡng trong 100g
                        <table>
                            <tr>
                                <td>Năng lượng</td>
                                <td>100,4 Kcal</td>
                            </tr>
                            <tr>
                                <td>Hydrat cacbon</td>
                                <td>15,0 g</td>
                            </tr>
                            <tr>
                                <td>Chất đạm</td>
                                <td>2,9 g</td>
                            </tr>
                            <tr>
                                <td>Chất béo</td>
                                <td>3,2 g</td>
                            </tr>
                            <tr>
                                <td>Vitamin A</td>
                                <td>120 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin D</td>
                                <td>14 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin B2</td>
                                <td>165 &#181;g</td>
                            </tr>
                            <tr>
                                <td>Canxi</td>
                                <td>87 mg</td>
                            </tr>
                            <tr>
                                <td>Magie</td>
                                <td>6,5 mg</td>
                            </tr>
                            <tr>
                                <td>Kẽm</td>
                                <td>0,23 mg</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="price">
                        Giá: XX.000 VNĐ
                    </div>
                </div>
            </div>
            <div id="product4" class="product-detail">
                <h1>
                    Sữa chua ăn có đường
                </h1>
                <div class="shares">

                </div>
                <div class="clearfix"></div>
                <img src="@Url.Content("~/Images/suachuaan_duong.png")" alt="Sữa chua ăn có đường" />
                <div class="description">
                    <div class="col">
                        <em>Xuất xứ nguyên liệu đầu vào:</em> Sử dụng hoàn toàn sữa tươi sạch nguyên chất của trang trại TH.
                        <br />
                        Không sử dụng chất bảo quản.
                        <br />
                        Sử dụng hương vị và màu tự nhiên.
                        <br />
                        <br />
                        Đạt chứng nhận …
                        <br />
                        Đạt tiêu chuẩn …
                        <br />
                        <br />
                        <em>HƯỚNG DẪN BẢO QUẢN VÀ SỬ DỤNG :</em>
                        <br />
                        Bảo quản lạnh ở 4-8˚C.
                        Sử dụng ngay sau khi mở.
                    </div>
                    <div class="col">
                        Thành phần dinh dưỡng trong 100g
                        <table>
                            <tr>
                                <td>Năng lượng</td>
                                <td>98,0 Kcal</td>
                            </tr>
                            <tr>
                                <td>Hydrat cacbon</td>
                                <td>14,5 g</td>
                            </tr>
                            <tr>
                                <td>Chất đạm</td>
                                <td>2,9 g</td>
                            </tr>
                            <tr>
                                <td>Chất béo</td>
                                <td>3,2 g</td>
                            </tr>
                            <tr>
                                <td>Vitamin A</td>
                                <td>120 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin D</td>
                                <td>14 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin B2</td>
                                <td>170 &#181;g</td>
                            </tr>
                            <tr>
                                <td>Canxi</td>
                                <td>87 mg</td>
                            </tr>
                            <tr>
                                <td>Magie</td>
                                <td>6,0 mg</td>
                            </tr>
                            <tr>
                                <td>Kẽm</td>
                                <td>0,23 mg</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="price">
                        Giá: XX.000 VNĐ
                    </div>
                </div>
            </div>
            <div id="product5" class="product-detail">
                <h1>
                    Sữa chua ăn Trái cây tự nhiên
                </h1>
                <div class="shares">

                </div>
                <div class="clearfix"></div>
                <img src="@Url.Content("~/Images/suachuaan_traicay.png")" alt="Sữa chua ăn trái cây tự nhiên" />
                <div class="description">
                    <div class="col">
                        <em>Xuất xứ nguyên liệu đầu vào:</em> Sử dụng hoàn toàn sữa tươi sạch nguyên chất của trang trại TH.
                        <br />
                        Thực phẩm bổ sung, không sử dụng chất bảo quản.
                        <br />
                        Sử dụng hương vị và màu tự nhiên.
                        <br />
                        Chứa khoảng 1 tỷ lợi khuẩn TH.acidophilus/hộp.
                        <br />
                        <br />
                        Đạt chứng nhận …
                        <br />
                        Đạt tiêu chuẩn …
                        <br />
                        <br />
                        <em>HƯỚNG DẪN BẢO QUẢN VÀ SỬ DỤNG :</em>
                        <br />
                        Bảo quản lạnh ở 4-8˚C.
                        Sử dụng ngay sau khi mở.
                    </div>
                    <div class="col">
                        Thành phần dinh dưỡng trong 100g
                        <table>
                            <tr>
                                <td>Năng lượng</td>
                                <td>95,3 Kcal</td>
                            </tr>
                            <tr>
                                <td>Hydrat cacbon</td>
                                <td>14,5 g</td>
                            </tr>
                            <tr>
                                <td>Chất đạm</td>
                                <td>2,8 g</td>
                            </tr>
                            <tr>
                                <td>Chất béo</td>
                                <td>2,9 g</td>
                            </tr>
                            <tr>
                                <td>Vitamin A</td>
                                <td>125 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin D</td>
                                <td>14 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin B2</td>
                                <td>150 &#181;g</td>
                            </tr>
                            <tr>
                                <td>Canxi</td>
                                <td>85 mg</td>
                            </tr>
                            <tr>
                                <td>Magie</td>
                                <td>6,2 mg</td>
                            </tr>
                            <tr>
                                <td>Kẽm</td>
                                <td>0,23 mg</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="price">
                        Giá: XX.000 VNĐ
                    </div>
                </div>
            </div>
        </div>
        <a class="right-arrow" href="javascript:void(0);" onclick="moveNext(1)"></a>
    </div>
    <div class="others">
        <div class="title">
            Sản phẩm<br />khác
        </div>
        <a id="dau" class="item" href="javascript:void(0);" onclick="moveTo(1)" style="display: none;">
            <img src="@Url.Content("~/Images/suachuaan_dau.png")" alt="Sữa chua Dâu tự nhiên" />
            <div>Dâu tự nhiên</div>
        </a>
        <a id="vietquat" class="item" href="javascript:void(0);" onclick="moveTo(2)">
            <img src="@Url.Content("~/Images/suachuaan_vietquat.png")" alt="Sữa chua Việt quất tự nhiên" />
            <div>Việt quất tự nhiên</div>
        </a>
        <a id="nhadam" class="item" href="javascript:void(0);" onclick="moveTo(3)">
            <img src="@Url.Content("~/Images/suachuaan_nhadam.png")" alt="Sữa chua Nha đam tự nhiên" />
            <div>Nha đam tự nhiên</div>
        </a>
        <a id="coduong" class="item" href="javascript:void(0);" onclick="moveTo(4)">
            <img src="@Url.Content("~/Images/suachuaan_duong.png")" alt="Sữa chua Có Đường" />
            <div>Có Đường</div>
        </a>
        <a id="traicay" class="item" href="javascript:void(0);" onclick="moveTo(5)">
            <img src="@Url.Content("~/Images/suachuaan_traicay.png")" alt="Sữa chua Trái Cây tự nhiên" />
            <div>Trái cây tự nhiên</div>
        </a>
        <div class="clearfix"></div>
    </div>
</div>