﻿@{
    ViewBag.Title = "Sữa chua uống men sống";
}

@model string

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu li:eq(2)').addClass("selected");

            $('.scroll-container').width($('.content').width() * $('.scroll-container .product-detail').length);

            $('#@Model.ToLower()').trigger('click');
        });
    </script>
}

<div class="product-page product-suachuauongmensong">
    <div class="content">
        <a class="left-arrow" href="javascript:void(0);" onclick="movePrev(1)"></a>
        <div class="scroll-container">
            <div id="product1" class="product-detail">
                <h1>
                    Sữa chua uống men sống
                </h1>
                <div class="shares">

                </div>
                <div class="clearfix"></div>
                <img src="@Url.Content("~/Images/suachuauong_cam.png")" alt="Sữa chua uống men sống cam tự nhiên" />
                <div class="description">
                    <h2 style="color: #f90;">
                        Sữa chua uống men sống
                        <br />
                        <strong>Cam tự nhiên</strong>
                    </h2>
                    <div class="col">
                        <em>Xuất xứ nguyên liệu đầu vào:</em> Sử dụng hoàn toàn sữa tươi sạch nguyên chất của trang trại TH.
                        <br />
                        Thực phẩm bổ sung, không sử dụng chất bảo quản.
                        <br />
                        Sử dụng hương vị và màu tự nhiên.
                        <br />
                        Chứa khoảng 1 tỷ lợi khuẩn TH.acidophilus/hộp.
                        <br />
                        <br />
                        Đạt chứng nhận …
                        <br />
                        Đạt tiêu chuẩn …
                        <br />
                        <br />
                        <em>HƯỚNG DẪN BẢO QUẢN VÀ SỬ DỤNG :</em>
                        <br />
                        Bảo quản lạnh ở 4-8˚C.
                        Sử dụng ngay sau khi mở.
                    </div>
                    <div class="col">
                        Thành phần dinh dưỡng trong 100g
                        <table>
                            <tr>
                                <td>Năng lượng</td>
                                <td>84,8 Kcal</td>
                            </tr>
                            <tr>
                                <td>Hydrat cacbon</td>
                                <td>13,0 g</td>
                            </tr>
                            <tr>
                                <td>Chất đạm</td>
                                <td>2,8 g</td>
                            </tr>
                            <tr>
                                <td>Chất béo</td>
                                <td>2,4 g</td>
                            </tr>
                            <tr>
                                <td>Vitamin A</td>
                                <td>100 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin D</td>
                                <td>12,8 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin B2</td>
                                <td>135 &#181;g</td>
                            </tr>
                            <tr>
                                <td>Canxi</td>
                                <td>75 mg</td>
                            </tr>
                            <tr>
                                <td>Magie</td>
                                <td>6,2 mg</td>
                            </tr>
                            <tr>
                                <td>Kẽm</td>
                                <td>0,22 mg</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="price">
                        Giá: XX.000 VNĐ
                    </div>
                </div>
            </div>
            <div id="product2" class="product-detail">
                <h1>
                    Sữa chua uống men sống
                </h1>
                <div class="shares">

                </div>
                <div class="clearfix"></div>
                <img src="@Url.Content("~/Images/suachuauong_vanila.png")" alt="Sữa chua uống men sống hương Vanilla tự nhiên" />
                <div class="description">
                    <h2 style="color: #f4df09;">
                        Sữa chua uống men sống
                        <br />
                        <strong>Hương Vanilla tự nhiên</strong>
                    </h2>
                    <div class="col">
                        <em>Xuất xứ nguyên liệu đầu vào:</em> Sử dụng hoàn toàn sữa tươi sạch nguyên chất của trang trại TH.
                        <br />
                        Thực phẩm bổ sung, không sử dụng chất bảo quản.
                        <br />
                        Sử dụng hương vị và màu tự nhiên.
                        <br />
                        Chứa khoảng 1 tỷ lợi khuẩn TH.acidophilus/hộp.
                        <br />
                        <br />
                        Đạt chứng nhận …
                        <br />
                        Đạt tiêu chuẩn …
                        <br />
                        <br />
                        <em>HƯỚNG DẪN BẢO QUẢN VÀ SỬ DỤNG :</em>
                        <br />
                        Bảo quản lạnh ở 4-8˚C.
                        Sử dụng ngay sau khi mở.
                    </div>
                    <div class="col">
                        Thành phần dinh dưỡng trong 100g
                        <table>
                            <tr>
                                <td>Năng lượng</td>
                                <td>86,1 Kcal</td>
                            </tr>
                            <tr>
                                <td>Hydrat cacbon</td>
                                <td>13,0 g</td>
                            </tr>
                            <tr>
                                <td>Chất đạm</td>
                                <td>2,9 g</td>
                            </tr>
                            <tr>
                                <td>Chất béo</td>
                                <td>2,5 g</td>
                            </tr>
                            <tr>
                                <td>Vitamin A</td>
                                <td>100 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin D</td>
                                <td>13 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin B2</td>
                                <td>150 &#181;g</td>
                            </tr>
                            <tr>
                                <td>Canxi</td>
                                <td>84 mg</td>
                            </tr>
                            <tr>
                                <td>Magie</td>
                                <td>6,0 mg</td>
                            </tr>
                            <tr>
                                <td>Kẽm</td>
                                <td>0,23 mg</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="price">
                        Giá: XX.000 VNĐ
                    </div>
                </div>
            </div>
            <div id="product3" class="product-detail">
                <h1>
                    Sữa chua uống men sống
                </h1>
                <div class="shares">

                </div>
                <div class="clearfix"></div>
                <img src="@Url.Content("~/Images/suachuauong_dau.png")" alt="Sữa chua uống men sống Dâu tự nhiên" />
                <div class="description">
                    <h2 style="color: #f21f26;">
                        Sữa chua uống men sống
                        <br />
                        <strong>Dâu tự nhiên</strong>
                    </h2>
                    <div class="col">
                        <em>Xuất xứ nguyên liệu đầu vào:</em> Sử dụng hoàn toàn sữa tươi sạch nguyên chất của trang trại TH.
                        <br />
                        Không sử dụng chất bảo quản.
                        <br />
                        Sử dụng hương vị và màu tự nhiên.
                        <br />
                        <br />
                        Đạt chứng nhận …
                        <br />
                        Đạt tiêu chuẩn …
                        <br />
                        <br />
                        <em>HƯỚNG DẪN BẢO QUẢN VÀ SỬ DỤNG :</em>
                        <br />
                        Bảo quản lạnh ở 4-8˚C.
                        Sử dụng ngay sau khi mở.
                    </div>
                    <div class="col">
                        Thành phần dinh dưỡng trong 100g
                        <table>
                            <tr>
                                <td>Năng lượng</td>
                                <td>86,1 Kcal</td>
                            </tr>
                            <tr>
                                <td>Hydrat cacbon</td>
                                <td>13,0 g</td>
                            </tr>
                            <tr>
                                <td>Chất đạm</td>
                                <td>2,9 g</td>
                            </tr>
                            <tr>
                                <td>Chất béo</td>
                                <td>2,5 g</td>
                            </tr>
                            <tr>
                                <td>Vitamin A</td>
                                <td>100 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin D</td>
                                <td>13 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin B2</td>
                                <td>140 &#181;g</td>
                            </tr>
                            <tr>
                                <td>Canxi</td>
                                <td>75 mg</td>
                            </tr>
                            <tr>
                                <td>Magie</td>
                                <td>6,2 mg</td>
                            </tr>
                            <tr>
                                <td>Kẽm</td>
                                <td>0,23 mg</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="price">
                        Giá: XX.000 VNĐ
                    </div>
                </div>
            </div>
            <div id="product4" class="product-detail">
                <h1>
                    Sữa chua uống men sống
                </h1>
                <div class="shares">

                </div>
                <div class="clearfix"></div>
                <img src="@Url.Content("~/Images/suachuauong_vietquat.png")" alt="Sữa chua uống men sống Việt quất tự nhiên" />
                <div class="description">
                    <h2 style="color: #2a1a5f;">
                        Sữa chua uống men sống
                        <br />
                        <strong>Việt quất tự nhiên</strong>
                    </h2>
                    <div class="col">
                        <em>Xuất xứ nguyên liệu đầu vào:</em> Sử dụng hoàn toàn sữa tươi sạch nguyên chất của trang trại TH.
                        <br />
                        Không sử dụng chất bảo quản.
                        <br />
                        Sử dụng hương vị và màu tự nhiên.
                        <br />
                        <br />
                        Đạt chứng nhận …
                        <br />
                        Đạt tiêu chuẩn …
                        <br />
                        <br />
                        <em>HƯỚNG DẪN BẢO QUẢN VÀ SỬ DỤNG :</em>
                        <br />
                        Bảo quản lạnh ở 4-8˚C.
                        Sử dụng ngay sau khi mở.
                    </div>
                    <div class="col">
                        Thành phần dinh dưỡng trong 100g
                        <table>
                            <tr>
                                <td>Năng lượng</td>
                                <td>85,2 Kcal</td>
                            </tr>
                            <tr>
                                <td>Hydrat cacbon</td>
                                <td>13,0 g</td>
                            </tr>
                            <tr>
                                <td>Chất đạm</td>
                                <td>2,9 g</td>
                            </tr>
                            <tr>
                                <td>Chất béo</td>
                                <td>2,4 g</td>
                            </tr>
                            <tr>
                                <td>Vitamin A</td>
                                <td>100 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin D</td>
                                <td>12 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin B2</td>
                                <td>155 &#181;g</td>
                            </tr>
                            <tr>
                                <td>Canxi</td>
                                <td>80 mg</td>
                            </tr>
                            <tr>
                                <td>Magie</td>
                                <td>6,0 mg</td>
                            </tr>
                            <tr>
                                <td>Kẽm</td>
                                <td>0,23 mg</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="price">
                        Giá: XX.000 VNĐ
                    </div>
                </div>
            </div>
        </div>
        <a class="right-arrow" href="javascript:void(0);" onclick="moveNext(1)"></a>
    </div>
    <div class="others">
        <div class="title">
            Sản phẩm<br />khác
        </div>
        <a id="cam" class="item" href="javascript:void(0);" onclick="moveTo(1)" style="display: none;">
            <img src="@Url.Content("~/Images/suachuauong_cam.png")" alt="Sữa chua uống men sống Cam tự nhiên" />
            <div>Cam tự nhiên</div>
        </a>
        <a id="vanilla" class="item" href="javascript:void(0);" onclick="moveTo(2)">
            <img src="@Url.Content("~/Images/suachuauong_vanila.png")" alt="Sữa chua uống men sống hương Vanilla tự nhiên" />
            <div>Vanilla tự nhiên</div>
        </a>
        <a id="dau" class="item" href="javascript:void(0);" onclick="moveTo(3)">
            <img src="@Url.Content("~/Images/suachuauong_dau.png")" alt="Sữa chua uống men sống Dâu tự nhiên" />
            <div>Dâu tự nhiên</div>
        </a>
        <a id="vietquat" class="item" href="javascript:void(0);" onclick="moveTo(4)">
            <img src="@Url.Content("~/Images/suachuauong_vietquat.png")" alt="Sữa chua uống men sống Việt Quất tự nhiên" />
            <div>Việt quất tự nhiên</div>
        </a>
        <div class="clearfix"></div>
    </div>
</div>