﻿@{
    ViewBag.Title = "Sữa chua uống tiệt trùng";
}

@model string

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu li:eq(3)').addClass("selected");

            $('.scroll-container').width($('.content').width() * $('.scroll-container .product-detail').length);

            $('#@Model.ToLower()').trigger('click');
        });
    </script>
}  

<div class="product-page product-suachuauongtiettrung">
    <div class="content">
        <a class="left-arrow" href="javascript:void(0);" onclick="movePrev(1)"></a>
        <div class="scroll-container">
            <div id="product1" class="product-detail">
                <h1>
                    Sữa chua uống tiệt trùng
                </h1>
                <div class="shares">

                </div>
                <div class="clearfix"></div>
                <img src="@Url.Content("~/Images/suachuauongtiettrung_cam.png")" alt="Sữa chua uống tiệt trùng cam tự nhiên" />
                <div class="description">
                    <h2 style="color: #16a5da">
                        Sữa chua uống tiệt trùng
                        <br />
                        <strong style="color: #ff8501">Cam tự nhiên</strong>
                    </h2>
                    <div class="col">
                        <em>Xuất xứ nguyên liệu đầu vào:</em> Sử dụng hoàn toàn sữa tươi sạch nguyên chất của trang trại TH.
                        <br />
                        Thực phẩm bổ sung, không sử dụng chất bảo quản.
                        <br />
                        Sử dụng hương vị và màu tự nhiên.
                        <br />
                        Chứa khoảng 1 tỷ lợi khuẩn TH.acidophilus/hộp.
                        <br />
                        <br />
                        Đạt chứng nhận …
                        <br />
                        Đạt tiêu chuẩn …
                        <br />
                        <br />
                        <em>HƯỚNG DẪN BẢO QUẢN VÀ SỬ DỤNG :</em>
                        <br />
                        Bảo quản lạnh ở 4-8˚C.
                        Sử dụng ngay sau khi mở.
                    </div>
                    <div class="col">
                        Thành phần dinh dưỡng trong 100g
                        <table>
                            <tr>
                                <td>Năng lượng</td>
                                <td>63,9 Kcal</td>
                            </tr>
                            <tr>
                                <td>Hydrat cacbon</td>
                                <td>11,0 g</td>
                            </tr>
                            <tr>
                                <td>Chất đạm</td>
                                <td>1,6 g</td>
                            </tr>
                            <tr>
                                <td>Chất béo</td>
                                <td>1,5 g</td>
                            </tr>
                            <tr>
                                <td>Vitamin A</td>
                                <td>60 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin D</td>
                                <td>8,8 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin B2</td>
                                <td>105 &#181;g</td>
                            </tr>
                            <tr>
                                <td>Canxi</td>
                                <td>50 mg</td>
                            </tr>
                            <tr>
                                <td>Magie</td>
                                <td>3,8 mg</td>
                            </tr>
                            <tr>
                                <td>Kẽm</td>
                                <td>0,13 mg</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="price">
                        Giá: XX.000 VNĐ
                    </div>
                </div>
            </div>
            <div id="product2" class="product-detail">
                <h1>
                    Sữa chua uống tiệt trùng
                </h1>
                <div class="shares">

                </div>
                <div class="clearfix"></div>
                <img src="@Url.Content("~/Images/suachuauongtiettrung_dau.png")" alt="Sữa chua uống tiệt trùng Dâu tự nhiên" />
                <div class="description">
                    <h2 style="color: #16a5da">
                        Sữa chua uống tiệt trùng
                        <br />
                        <strong style="color: #f01e24">Dâu tự nhiên</strong>
                    </h2>
                    <div class="col">
                        <em>Xuất xứ nguyên liệu đầu vào:</em> Sử dụng hoàn toàn sữa tươi sạch nguyên chất của trang trại TH.
                        <br />
                        Thực phẩm bổ sung, không sử dụng chất bảo quản.
                        <br />
                        Sử dụng hương vị và màu tự nhiên.
                        <br />
                        Chứa khoảng 1 tỷ lợi khuẩn TH.acidophilus/hộp.
                        <br />
                        <br />
                        Đạt chứng nhận …
                        <br />
                        Đạt tiêu chuẩn …
                        <br />
                        <br />
                        <em>HƯỚNG DẪN BẢO QUẢN VÀ SỬ DỤNG :</em>
                        <br />
                        Bảo quản lạnh ở 4-8˚C.
                        Sử dụng ngay sau khi mở.
                    </div>
                    <div class="col">
                        Thành phần dinh dưỡng trong 100g
                        <table>
                            <tr>
                                <td>Năng lượng</td>
                                <td>64,8 Kcal</td>
                            </tr>
                            <tr>
                                <td>Hydrat cacbon</td>
                                <td>11,0 g</td>
                            </tr>
                            <tr>
                                <td>Chất đạm</td>
                                <td>1,6 g</td>
                            </tr>
                            <tr>
                                <td>Chất béo</td>
                                <td>1,6 g</td>
                            </tr>
                            <tr>
                                <td>Vitamin A</td>
                                <td>65 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin D</td>
                                <td>8,3 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin B2</td>
                                <td>100 &#181;g</td>
                            </tr>
                            <tr>
                                <td>Canxi</td>
                                <td>48 mg</td>
                            </tr>
                            <tr>
                                <td>Magie</td>
                                <td>3,8 mg</td>
                            </tr>
                            <tr>
                                <td>Kẽm</td>
                                <td>0,14 mg</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="price">
                        Giá: XX.000 VNĐ
                    </div>
                </div>
            </div>
            <div id="product3" class="product-detail">
                <h1>
                    Sữa chua uống tiệt trùng
                </h1>
                <div class="shares">

                </div>
                <div class="clearfix"></div>
                <img src="@Url.Content("~/Images/suachuauongtiettrung_vietquat.png")" alt="Sữa chua uống tiệt trùng Việt quất tự nhiên" />
                <div class="description">
                    <h2 style="color: #16a5da">
                        Sữa chua uống tiệt trùng
                        <br />
                        <strong style="color: #3b387f">Việt quất tự nhiên</strong>
                    </h2>
                    <div class="col">
                        <em>Xuất xứ nguyên liệu đầu vào:</em> Sử dụng hoàn toàn sữa tươi sạch nguyên chất của trang trại TH.
                        <br />
                        Thực phẩm bổ sung, không sử dụng chất bảo quản.
                        <br />
                        Sử dụng hương vị và màu tự nhiên.
                        <br />
                        Chứa khoảng 1 tỷ lợi khuẩn TH.acidophilus/hộp.
                        <br />
                        <br />
                        Đạt chứng nhận …
                        <br />
                        Đạt tiêu chuẩn …
                        <br />
                        <br />
                        <em>HƯỚNG DẪN BẢO QUẢN VÀ SỬ DỤNG :</em>
                        <br />
                        Bảo quản lạnh ở 4-8˚C.
                        Sử dụng ngay sau khi mở.
                    </div>
                    <div class="col">
                        Thành phần dinh dưỡng trong 100g
                        <table>
                            <tr>
                                <td>Năng lượng</td>
                                <td>64,8 Kcal</td>
                            </tr>
                            <tr>
                                <td>Hydrat cacbon</td>
                                <td>11,0 g</td>
                            </tr>
                            <tr>
                                <td>Chất đạm</td>
                                <td>1,6 g</td>
                            </tr>
                            <tr>
                                <td>Chất béo</td>
                                <td>1,6 g</td>
                            </tr>
                            <tr>
                                <td>Vitamin A</td>
                                <td>60 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin D</td>
                                <td>8,2 IU</td>
                            </tr>
                            <tr>
                                <td>Vitamin B2</td>
                                <td>98 &#181;g</td>
                            </tr>
                            <tr>
                                <td>Canxi</td>
                                <td>50 mg</td>
                            </tr>
                            <tr>
                                <td>Magie</td>
                                <td>3,8 mg</td>
                            </tr>
                            <tr>
                                <td>Kẽm</td>
                                <td>0,13 mg</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="price">
                        Giá: XX.000 VNĐ
                    </div>
                </div>
            </div>
        </div>
        <a class="right-arrow" href="javascript:void(0);" onclick="moveNext(1)"></a>
    </div>
    <div class="others">
        <div class="title">
            Sản phẩm<br />khác
        </div>
        <a id="cam" class="item" href="javascript:void(0);" onclick="moveTo(1)" style="display: none;">
            <img src="@Url.Content("~/Images/suachuauongtiettrung_cam.png")" alt="Sữa chua uống tiệt trùng Cam tự nhiên" />
            <div>Cam tự nhiên</div>
        </a>
        <a id="dau" class="item" href="javascript:void(0);" onclick="moveTo(2)">
            <img src="@Url.Content("~/Images/suachuauongtiettrung_dau.png")" alt="Sữa chua uống tiệt trùng Dâu tự nhiên" />
            <div>Dâu tự nhiên</div>
        </a>
        <a id="vietquat" class="item" href="javascript:void(0);" onclick="moveTo(3)">
            <img src="@Url.Content("~/Images/suachuauongtiettrung_vietquat.png")" alt="Sữa chua uống tiệt trùng Việt quất tự nhiên" />
            <div>Việt quất tự nhiên</div>
        </a>
        <div class="clearfix"></div>
    </div>
</div>