﻿@{
    ViewBag.Title = "Sữa chua ăn";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu li:eq(1)').addClass("selected");

            $('.list').Fisheye(
                {
                    maxWidth: 120,
                    items: 'a',
                    itemsText: 'span',
                    container: '.dock-container',
                    itemWidth: 200,
                    proximity: 80,
                    alignment: 'left',
                    valign: 'bottom',
                    halign: 'center',
                    textContainer: '.title'
                }
            )
        });
    </script>
}

<div class="landing-product suachuaan">
    <h1>THẬT SỰ TỰ NHIÊN</h1>
    <h2>
        Sữa chua men sống <strong>TH true YOGURT</strong> hoàn toàn từ sữa tươi  sạch nguyên chất của trang trại TH.
    </h2>
    <a class="left-arrow"></a>
    <a class="right-arrow"></a>
    <div class="clearfix"></div>
    <div class="list">
        <div class="dock-container">
            <a href="@Url.Action("SanPhamSuaChuaAn", "Home", new { id = "Dau" })">
                <img src="@Url.Content("~/Images/suachuaan_dau.png")" alt="Sữa chua dâu" />
                <span>
                    Sản phẩm <br />
                    <strong>Sắp ra mắt</strong>
                </span>
            </a>
            <a href="@Url.Action("SanPhamSuaChuaAn", "Home", new { id = "VietQuat" })">
                <img src="@Url.Content("~/Images/suachuaan_vietquat.png")" alt="Sữa chua việt quất" />
                <span>
                    Sữa chua <br />
                    <strong>Việt Quất</strong>
                </span>
            </a>
            <a href="@Url.Action("SanPhamSuaChuaAn", "Home", new { id = "NhaDam" })">
                <img src="@Url.Content("~/Images/suachuaan_nhadam.png")" alt="Sữa chua nha đam" />
                <span>
                    Sữa chua <br />
                    <strong>Nha Đam</strong>
                </span>
            </a>
            <a href="@Url.Action("SanPhamSuaChuaAn", "Home", new { id = "CoDuong" })">
                <img src="@Url.Content("~/Images/suachuaan_duong.png")" alt="Sữa chua có đường" />
                <span>
                    Sữa chua <br />
                    <strong>Có Đường</strong>
                </span>
            </a>
            <a href="@Url.Action("SanPhamSuaChuaAn", "Home", new { id = "TraiCay" })">
                <img src="@Url.Content("~/Images/suachuaan_traicay.png")" alt="Sữa chua trái cây" />
                <span>
                    Sữa chua <br />
                    <strong>Trái Cây</strong>
                </span>
            </a>
        </div>
    </div>
    <div class="title">
    </div>
    <div class="clearfix"></div>
</div>
