﻿@{
    ViewBag.Title = "Sữa chua uống tiệt trùng";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu li:eq(3)').addClass("selected");

            $('.list').Fisheye(
                {
                    maxWidth: 50,
                    items: 'a',
                    itemsText: 'span',
                    container: '.dock-container',
                    itemWidth: 230,
                    proximity: 200,
                    alignment: 'left',
                    valign: 'bottom',
                    halign: 'center',
                    textContainer: '.title'
                }
            )
        });
    </script>
}


<div class="landing-product suachuauongtiettrung">
    <h1>THẬT SỰ TỰ NHIÊN</h1>
    <h2>
        Sữa chua uống tiệt trùng <strong>TH true YOGURT</strong> hoàn toàn từ sữa tươi  sạch nguyên chất của trang trại TH.
    </h2>
    <a class="left-arrow"></a>
    <a class="right-arrow"></a>
    <div class="clearfix"></div>
    <div class="list">
        <div class="dock-container">
            <a href="@Url.Action("SanPhamSuaChuaUongTietTrung", "Home", new { id = "Cam" })">
                <img src="@Url.Content("~/Images/suachuauongtiettrung_cam.png")" alt="Sữa chua uống tiệt trùng cam" />
                <span>
                    Sữa chua uống tiệt trùng<br />
                    <strong>Cam tự nhiên</strong>
                </span>
            </a>
            <a href="@Url.Action("SanPhamSuaChuaUongTietTrung", "Home", new { id = "Dau" })">
                <img src="@Url.Content("~/Images/suachuauongtiettrung_dau.png")" alt="Sữa chua uống tiệt trùng dâu" />
                <span>
                    Sữa chua uống tiệt trùng<br />
                    <strong>Dâu tự nhiên</strong>
                </span>
            </a>
            <a href="@Url.Action("SanPhamSuaChuaUongTietTrung", "Home", new { id = "VietQuat" })">
                <img src="@Url.Content("~/Images/suachuauongtiettrung_vietquat.png")" alt="Sữa chua uống tiệt trùng việt quất" />
                <span>
                    Sữa chua uống tiệt trùng<br />
                    <strong>Việt quất tự nhiên</strong>
                </span>
            </a>
        </div>
    </div>
    <div class="title">
    </div>
    <div class="clearfix"></div>
</div>
