﻿@{
    ViewBag.Title = "Sữa chua uống men sống";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu li:eq(2)').addClass("selected");

            $('.list').Fisheye(
                {
                    maxWidth: 100,
                    items: 'a',
                    itemsText: 'span',
                    container: '.dock-container',
                    itemWidth: 250,
                    proximity: 200,
                    alignment: 'left',
                    valign: 'bottom',
                    halign: 'center',
                    textContainer: '.title'
                }
            )
        });
    </script>
}


<div class="landing-product suachuauongmensong">
    <h1>THẬT SỰ TỰ NHIÊN</h1>
    <h2>
        Sữa chua uống men sống <strong>TH true YOGURT</strong> hoàn toàn từ sữa tươi  sạch nguyên chất của trang trại TH.
    </h2>
    <a class="left-arrow"></a>
    <a class="right-arrow"></a>
    <div class="clearfix"></div>
    <div class="list">
        <div class="dock-container">
            <a href="@Url.Action("SanPhamSuaChuaUongMenSong", "Home", new { id = "Cam" })">
                <img src="@Url.Content("~/Images/suachuauong_cam.png")" alt="Sữa chua uống men sống cam" />
                <span>
                    Sữa chua uống men sống<br />
                    <strong>Cam tự nhiên</strong>
                </span>
            </a>
            <a href="@Url.Action("SanPhamSuaChuaUongMenSong", "Home", new { id = "Vanilla" })">
                <img src="@Url.Content("~/Images/suachuauong_vanila.png")" alt="Sữa chua uống men sống vanilla" />
                <span>
                    Sữa chua uống men sống<br />
                    <strong>Hương Vanilla tự nhiên</strong>
                </span>
            </a>
            <a href="@Url.Action("SanPhamSuaChuaUongMenSong", "Home", new { id = "Dau" })">
                <img src="@Url.Content("~/Images/suachuauong_dau.png")" alt="Sữa chua uống men sống dâu" />
                <span>
                    Sữa chua uống men sống<br />
                    <strong>Dâu tự nhiên</strong>
                </span>
            </a>
            <a href="@Url.Action("SanPhamSuaChuaUongMenSong", "Home", new { id = "VietQuat" })">
                <img src="@Url.Content("~/Images/suachuauong_vietquat.png")" alt="Sữa chua uống men sống việt quất" />
                <span>
                    Sữa chua uống men sống<br />
                    <strong>Việt Quất Tự Nhiên</strong>
                </span>
            </a>
        </div>
    </div>
    <div class="title">
    </div>
    <div class="clearfix"></div>
</div>
