﻿@{
    ViewBag.Title = "Thư Mời";
}

@model string

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.background').hide();
        });
    </script>
}

<div class="registration-page">
    <div class="clearfix"></div>
    <div class="box2" style="text-align: center;">
        <h2>Cảm ơn bạn đã đăng ký tham gia chương trình. Xin vui lòng In thư mời hoặc lưu lại trong Điện thoại / Máy tính và mang đến các cửa hàng TH true mart để Tham gia chương trình.</h2>
        <a href="@Model" target="_blank">
            <img src="@Model" alt="" style="width: 600px;" />
        </a>
    </div>
</div>    