﻿@{
    ViewBag.Title = "Trang chủ";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu li:eq(0)').addClass("selected");

            $('#dg-container').gallery({
                current: 1
            });
        });
    </script>
}

<div class="home-page">
    <h1>
        Sữa Chua Sạch TH true YOGURT
        <br />
        Hoàn Toàn Từ Sữa Tươi Sạch Của Trang Trại TH
    </h1>
    <div id="dg-container" class="coverflow dg-container">
        <div class="dg-wrapper">
            <a href="@Url.Action("SuaChuaAn", "Home")">
                <img src="@Url.Content("~/Images/group1.jpg")" alt="Sữa chua ăn" />
                <div class="title">Sữa chua ăn</div>
            </a>
            <a href="@Url.Action("SuaChuaUongMenSong", "Home")">
                <img src="@Url.Content("~/Images/group2.jpg")" alt="Sữa chua uống men sống" />
                <div class="title">Sữa chua uống men sống</div>
            </a>
            <a href="@Url.Action("SuaChuaUongTietTrung", "Home")">
                <img src="@Url.Content("~/Images/group3.jpg")" alt="Sữa chua uống tiệt trùng" />
                <div class="title">Sữa chua uống tiệt trùng</div>
            </a>
        </div>
        <nav>
            <span class="dg-prev left-arrow"></span>
            <span class="dg-next right-arrow"></span>
        </nav>
    </div>
    <div class="clearfix"></div>
    <div class="invester"></div>
</div>
