﻿@{
    ViewBag.Title = "Truyền thông";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu li:eq(3)').addClass("selected");

            changeVideo('//www.youtube.com/embed/2KV-m0rQL1Q?autoplay=1');
        });
    </script>
}

<div class="media-page">
    <div class="tvcbox">
        <div class="list">
            <a href="javascript:void(0);" onclick="changeVideo('//www.youtube.com/embed/2KV-m0rQL1Q?autoplay=1', this)">
                <img src="@Url.Content("~/Images/tvc1.png")" alt="Phim quảng cáo" />
                <div class="title">Phim quảng cáo</div>
                <div class="overlay"></div>
            </a>
            <a href="javascript:void(0);" onclick="changeVideo('//www.youtube.com/embed/2KV-m0rQL1Q?autoplay=1', this)">
                <img src="@Url.Content("~/Images/tvc2.png")" alt="Phim tài liệu" />
                <div class="title">Phim tài liệu</div>
                <div class="overlay"></div>
            </a>
        </div>
        <div class="tvc"></div>
    </div>
    @*<div class="newsbox">
        <div class="box-title">
            tin tức
            <br />
            báo chí
        </div>
        <ul>
            <li>
                <div class="title">TH True Milk tiến sâu vào thị trường sữa</div>
                <div class="description">
                    Ngày 9/7, Tập đoàn TH khánh thành Nhà máy sữa tươi sạch TH lớn nhất Đông Nam Á với công nghệ >>
                </div>
                <a href="#" class="more">Xem thông tin chi tiết</a>
            </li>
            <li>
                <div class="title">TH True Milk tiến sâu vào thị trường sữa</div>
                <div class="description">
                    Ngày 9/7, Tập đoàn TH khánh thành Nhà máy sữa tươi sạch TH lớn nhất Đông Nam Á với công nghệ >>
                </div>
                <a href="#" class="more">Xem thông tin chi tiết</a>
            </li>
            <li>
                <div class="title">TH True Milk tiến sâu vào thị trường sữa</div>
                <div class="description">
                    Ngày 9/7, Tập đoàn TH khánh thành Nhà máy sữa tươi sạch TH lớn nhất Đông Nam Á với công nghệ >>
                </div>
                <a href="#" class="more">Xem thông tin chi tiết</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>*@
</div>