@font-face {
    font-family: 'DINRoundOTRegular';
    src: url('dinroundot.eot');
    src: url('dinroundot.eot') format('embedded-opentype'),
         url('dinroundot.woff') format('woff'),
         url('dinroundot.ttf') format('truetype'),
         url('dinroundot.svg#DINRoundOTRegular') format('svg');
}
