@font-face {
    font-family: 'DINRoundOTBold';
    src: url('dinroundot-bold.eot');
    src: url('dinroundot-bold.eot') format('embedded-opentype'),
         url('dinroundot-bold.woff') format('woff'),
         url('dinroundot-bold.ttf') format('truetype'),
         url('dinroundot-bold.svg#DINRoundOTBold') format('svg');
}
